/******************
 * SCSS Variables   *
 ******************/

//== Typography
$fnt-default: 				"acumin-pro";
$fnt-head: 					"acumin-pro";

$fnt-small-size:       		13px;
$fnt-default-size:     		16px;
$fnt-medium-size:      		18px;
$fnt-large-size:       		24px;

$fnt-line-height:      		26px;

$trns-default: 				0.3s all ease-in-out;

//== Colors
$clr-white: 				#ffffff;
$clr-white-dk: 				#F2F2F2;
$clr-black: 				#000000;
$clr-dark:					#1a171b;
$clr-grey:					#E6E6E6;
$clr-grey-dk:				#2d2a2e;
$clr-text:					#333333;
$clr-text-lt: 				#939194;
$clr-pre-footer: 			#2C2A2F;

$clr-main: 					#BF0028;
$clr-main-dk: 				#0096d6;
$clr-second: 				#ffd400;
$clr-success: 				#2f701f;

$clr-border-lt:				#111111;

//== Blocks
$small-block:				125px;
$medium-block:				250px;
$large-block:				525px;
$full:						100%;
$half:						50%;

//== Margins & Paddings
$mp-tiny:					2px;
$mp-small: 					15px;
$mp-medium: 				30px;
$mp-large: 					60px;
$mp-huge: 					90px;