<footer class="footer">

    <section class="newsletter">
        <div class="row">
            <div class="small-12 columns">
                <h2 class="sectiontitle white noborder">Blijf op de hoogte</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-7 columns">
                <?php gravity_form(get_option('theme_form_newsletter'), false, true, false, null, true); ?>
            </div>
            <div class="small-12 medium-5 columns">
                <ul class="social-network">
                    <?php if($facebook = get_option('theme_social_facebook')): ?>
                        <li><a href="<?php echo $facebook; ?>" target="_blank" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <?php endif; ?>
                    <?php if($twitter = get_option('theme_social_twitter')): ?>
                        <li><a href="<?php echo $twitter; ?>" target="_blank" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <?php endif; ?>
                    <?php if($linkedin = get_option('theme_social_linkedin')): ?>
                        <li><a href="<?php echo $linkedin; ?>" target="_blank" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    <?php endif; ?>
                    <?php if($pinterest = get_option('theme_social_pinterest')): ?>
                        <li><a href="<?php echo $pinterest; ?>" target="_blank" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    <?php endif; ?>
                    <?php if($google = get_option('theme_social_googleplus')): ?>
                        <li><a href="<?php echo $google; ?>" target="_blank" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
                    <?php endif; ?>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns center">
                <p class="white">Schrijf u in voor onze nieuwsbrief en kom erachter wat er werkelijk allemaal gebeurt!</p>
            </div>
        </div>
        
    </section>
        
    <section class="mainfooter">
        
        <div class="row">
            <div class="small-12 medium-6 large-3 columns">
                <h3 class="subtitle white">Kom in contact</h3>
                <ul class="contact-list">
                    <li class="phone">
                        <?php echo $this->phone(get_option('theme_company_phone')); ?>
                    </li>
                    <li class="email">
                        <a href="mailto:<?php echo get_option('theme_company_email'); ?>"><?php echo get_option('theme_company_email'); ?></a>
                    </li>
                    <li class="address">
                        <?php echo str_replace(',','<br/>',get_option('theme_company_address')); ?>
                    </li>
                </ul>
            </div>
            <div class="small-12 medium-6 large-3 columns">
                <h3 class="subtitle white">Klantenservice</h3>
                <?php
                    $defaults = array(
                        'container' => false,
                        'menu_class' => 'service-list',
                        'menu_id' => 'service-menu',
                        'fallback_cb' => '',
                        'link_before' => '<span>',
                        'link_after' => '</span>',
                        'theme_location' => 'service',
                    );
                    echo $this->menu('service',$defaults); 
                ?>
            </div>
            <div class="small-12 medium-12 large-6 columns">
                <div class="logos">
                    <ul>
                        <!--<li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/postnl.png" height="40">
                            </a>
                        </li> -->
						<li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/dhl.png" height="40">
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/ideal.png" height="40">
                            </a>
                        </li>
						
						<li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/paypal.png" height="40">
                            </a>
                        </li>
						
                        <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/mastercard.png" height="40">
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/maestro.png" height="40">
                            </a>
                        </li>
                        <!-- <li>
                            <a href="<?php echo get_permalink(get_option('theme_page_paymentoptions')); ?>">
                                <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/img/visa.png" height="35">
                            </a>
                        </li> -->
                    </ul>
                </div>
                <div class="footernav">
                    <?php
                        $defaults = array(
                            'container' => false,
                            'menu_class' => 'inline-list right',
                            'menu_id' => 'footer-menu',
                            'fallback_cb' => '',
                            'link_before' => '<span>',
                            'link_after' => '</span>',
                            'theme_location' => 'footer',
                        );
                        echo $this->menu('footer',$defaults); 
                    ?>
                    <p class="copyright">&copy; <?php echo date('Y') ?> <?php echo get_bloginfo('name') ?>. Realisatie: <a target="_blank" href="https://www.webwijs.nu">Webwijs</a></p>
                </div>
            </div>
        </div>
    </section>

</footer>