<?php
	global $woocommerce;
	$cart_url = $woocommerce->cart->get_cart_url();
	$cart_tot = $woocommerce->cart->get_cart_total();
	$cart_num = $woocommerce->cart->get_cart_contents_count();
?>

<header class="header">

	<div class="navbar">
		<div class="nav">
			<div class="row">
				<a class="logo" href="<?php echo home_url('/') ?>" title="<?php bloginfo('name') ?>">
					<?php echo $this->partial('partials/svg/logo.svg'); ?>
				</a>
				<div class="large-12 columns">
					<?php
						global $woocommerce;
						$cart_url = $woocommerce->cart->get_cart_url();
					?>
					<a class="btn cartbtn" href="<?php echo $cart_url; ?>">
						<?php echo $this->partial('partials/svg/logoback.svg'); ?>
						<span class="icon">
							<?php echo $this->partial('partials/svg/basket.svg'); ?>
							<!-- <img src="<?php bloginfo('stylesheet_directory'); ?>/assets/svg/basket.svg"> -->
						</span>
						<?php //if($cart_num > 0): ?>
						<span class="num"><?php echo $cart_num; ?></span>
						<?php //endif; ?>
					</a>
					<a href="#searchform" class="btn searchbtn toggle"></a>
					<a href="#main-menu" class="btn menubtn toggle show-for-small hide-for-large"></a>
					<?php
						$defaults = array(
							'container' => false,
							'menu_class' => 'button-group',
							'menu_id' => 'main-menu',
							'fallback_cb' => '',
							'link_before' => '<span>',
							'link_after' => '</span>',
							'theme_location' => 'main',
						);
						echo $this->menu('main',$defaults);
					?>
				</div>
			</div>
		</div>

		<div class="search" id="searchform">
			<div class="row">
				<div class="large-12 columns">
					<?php echo $this->searchForm(); ?>
				</div>
			</div>
		</div>
	</div>

	<?php if(is_front_page()): ?>
		<?php echo $this->sidebarArea('content-header') ?>
	<?php endif; ?>

</header>
