<section class="soon-news pre-footer">
    <div class="row">

        <div class="small-12 large-6 columns">
            <?php echo $this->sidebarArea('content-soon') ?>
        </div>

        <div class="small-12 large-6 columns relative greybg greyer">
            <?php echo $this->sidebarArea('content-soonorder') ?>
        </div>

    </div>
</section>
