<?php 
	$top3_thumb_id = get_post_meta($this->post->ID, 'product_top3-image_thumbnail_id', true);
	if(!$top3_thumb_id){
		$top3_thumb_id = get_post_thumbnail_id( $this->post->ID );
	}
	$slide_image = wp_get_attachment_image_src($top3_thumb_id, 'top3');
	$imgURL = $slide_image[0];
?>

<a href="<?php echo get_permalink($this->post->ID); ?>" class="slide-content">
	<div class="row">

		<div class="small-12 columns">
			<div class="image">
				<img src="<?php echo $imgURL;?>">
			</div>
		</div>

		<div class="small-12 columns">
			<div class="flex-caption">
				<div class="position">
					<span><?php echo apply_filters('the_title', $this->position);?></span>
				</div>
				<?php if(!empty($this->post->post_title)):?>
					<h3><?php echo apply_filters('the_title', $this->post->post_title);?></h3>
				<?php endif;?> 
			</div>
		</div>
		
	</div>
</a>

