<table width="650" align="center">
    <tr>
	    <td style="font-family: Arial; font-size: 13px; color: #666">
            <?php $logoFile =  get_stylesheet_directory() . '/assets/img/logo.png'; ?>
            <?php if (file_exists($logoFile)): ?>
                <?php $logoUri = get_stylesheet_directory_uri() . '/assets/img/logo.png'; ?>
    		    <div style="border-bottom: 1px solid #efefef; padding: 30px 0">
    			    <img src="<?php echo $logoUri; ?>" width="397" height="101">
    		    </div>
            <?php endif; ?>
		    <p>
			    <?php _e('Beste meneer/mevrouw,') ?><br />
			    <strong><?php echo esc_html($this->name) ?></strong> <?php printf(esc_html__('wil de volgende pagina van %s graag met u delen:'), get_bloginfo ( 'name')) ?><br />
			    <br />
			    <a style="font-size: 16px; color: #36b3e1; text-decoration: none" href="<?php echo $this->url ?>"><?php echo $this->title ?></a><br />
			    <a style="color: #36b3e1; text-decoration: none" href="<?php echo $this->url ?>"><?php echo $this->url ?></a><br />
			    <br />
			    <?php _e('Met vriendelijke groet,') ?><br />
			    <?php bloginfo('name') ?><br />
		    </p>

		    <table style="background: #f8f8f8; color: #aaa8ad;" cellpadding="15" width="650">
			    <tr><td style="font-family: Arial; font-size: 13px;">
				    <span style="font-style: italic"><?php _e('Dit is een eenmalige e-mail. Uw gegevens zijn niet opgeslagen voor andere doeleinden.') ?></span><br /><br />
				    &copy; <?php echo date('Y') ?> <?php bloginfo('name') ?> | <a href="<?php echo get_site_url() ?>" style="color: #aaa8ad; text-decoration: none" ><?php _e('Naar onze website') ?></a>
				    <?php if (($postId = get_option('theme_page_contact')) !== ''): ?>
				        | <a href="<?php echo get_permalink($postId) ?>" style="color: #aaa8ad; text-decoration: none"><?php _e('Contact') ?></a>
				    <?php endif ?>
			    </td></tr>
		    </table>
	    </td>
    </tr>
</table>
