<div class="singular-content" itemprop="articleBody">
	<?php $content = strip_tags(get_the_content()); ?>
	<?php if(count($content) > 0): ?>
		<span class="firstletter"><?php echo $content[0]; ?></span>
	<?php endif; ?>
    <div class="inner"><?php the_content() ?></div>
</div>
