<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
    <div class="thumb-pad0">
        <div class="thumbnail">
	        <?php if (has_post_thumbnail()): ?>
		         <a href="<?php echo get_permalink() ?>"><figure><?php the_post_thumbnail( 'list' ) ?></figure></a>
		    <?php else: ?>
		         <a href="<?php echo get_permalink() ?>"><figure><img class="image" width="370" height="245" src="<?php bloginfo('stylesheet_directory') ?>/assets/img/default-small.jpg"/></figure></a>
		    <?php endif; ?>
            <div class="caption maxheight">
                <p class="title"><?php the_title() ?></p>
                <?php echo $this->excerpt() ?>
                <a href="<?php echo get_permalink() ?>" class="btn-default btn1">Lees verder</a>
            </div>
        </div>
    </div>
</div>