<?php
    $imgURL = MultiPostThumbnails::get_post_thumbnail_url(get_post_type(), 'overview-image', NULL, 'news-thumb');
    
    if($imgURL == ''){
        $att = wp_get_attachment_image_src( get_option('theme_thumbnail_news'), 'news-thumb' );
        $imgURL = $att[0];
    }

    $args = array('orderby' => 'name', 'order' => 'ASC', 'fields' => 'names');
    $terms = wp_get_post_terms( get_the_ID(), 'news_category', $args );
?>
<div class="large-4 medium-6 small-12 column">
    <a href="<?php echo get_permalink(); ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>" class="news-item" itemscope itemtype="http://schema.org/Article">
        <div class="entry-header">
            <img src="<?php echo $imgURL; ?>" />
            <div class="terms"><?php echo implode(', ', $terms); ?></div>
            <div class="entry-meta">
                <meta itemprop="datePublished" content="<?php echo get_the_date('c') ?>" />
                <span class="day"><?php echo get_the_date('d'); ?></span>
                <span class="month"><?php echo get_the_date('M'); ?></span>
            </div>
        </div>
        <div class="entry-content" itemprop="description">
            
            <div class="entry">
                <h3 class="entry-title" itemprop="name"><?php the_title(); ?></h3>
                <?php echo $this->excerpt(35); ?>
            </div>
        </div>

    </a>
</div>
