<?php
	$args = array('orderby' => 'name', 'order' => 'ASC', 'fields' => 'names');
	$terms = wp_get_post_terms( get_the_ID(), 'news_category', $args );
	$imgURL = MultiPostThumbnails::get_post_thumbnail_url(get_post_type(), 'header-image', NULL, 'news-header');
?>
<div class="singular-header">
    <div class="singular-meta">
        <meta itemprop="datePublished" content="<?php echo get_the_date('c') ?>" />
        <ul>
        	<li><?php echo implode(', ', $terms); ?></li>
        	<li><?php echo get_the_date('d F Y'); ?></li>
        	<li>door <?php echo get_the_author(); ?></li>
        </ul>
    </div>
    <?php if($imgURL): ?>
        <div class="singular-image">
        	<img src="<?php echo $imgURL; ?>" />
        </div>
    <?php endif; ?>
</div>

<div class="singular-content" itemprop="articleBody">
    <?php $content = strip_tags(get_the_content()); ?>
	<span class="firstletter"><?php echo $content[0]; ?></span>
    <div class="inner"><?php the_content() ?></div>
</div>

<div class="singular-footer">
    <a class="readmore back" href="<?php echo get_permalink(get_option('theme_page_news')); ?>"><?php echo __('Terug naar actueel') ?></a>
</div>
