<article class="list-item" itemscope itemtype="http://schema.org/Article">
    <div class="entry-header">
        <h3 class="entry-title" itemprop="name">
            <a href="<?php echo get_permalink(); ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>"><?php the_title(); ?></a>
        </h3>
        
    </div>
    <div class="entry-content" itemprop="description">
        <div class="entry-meta">
            <meta itemprop="datePublished" content="<?php echo get_the_date('c') ?>" />
            <span class="day"><?php echo get_the_date('d'); ?></span>
            <span class="month"><?php echo get_the_date('M'); ?></span>
        </div>
        <div class="entry">
            <?php echo $this->excerpt(100); ?>
            <a class="readmore dark" href="<?php echo get_permalink(); ?>"><?php echo __('Lees verder') ?></a>
        </div>
    </div>

</article>
