<?php
    if($post = $this->post):
    $imgURL = MultiPostThumbnails::get_post_thumbnail_url(get_post_type($post->ID), 'overview-image', $post->ID, 'news-thumb');
    $args = array('orderby' => 'name', 'order' => 'ASC', 'fields' => 'names');
    $terms = wp_get_post_terms( $post->ID, 'news_category', $args );
?>
<div class="large-4 medium-6 small-12 column">
    <a href="<?php echo get_permalink($post->ID); ?>" itemprop="url" title="<?php echo esc_attr(get_the_title($post->ID)) ?>" class="news-item" itemscope itemtype="http://schema.org/Article">
        <div class="entry-header">
            <img src="<?php echo $imgURL; ?>" />
            <div class="terms"><?php echo implode(', ', $terms); ?></div>
            <div class="entry-meta">
                <meta itemprop="datePublished" content="<?php echo get_the_date('c',$post->ID) ?>" />
                <span class="day"><?php echo get_the_date('d',$post->ID); ?></span>
                <span class="month"><?php echo get_the_date('M',$post->ID); ?></span>
            </div>
        </div>
        <div class="entry-content" itemprop="description">
            
            <div class="entry">
                <h3 class="entry-title" itemprop="name"><?php echo get_the_title($post->ID); ?></h3>
                <?php echo $this->excerpt(35, $post); ?>
            </div>
        </div>

    </a>
</div>
<?php endif; ?>
