@import 'variables';
@import 'mixins';
@import 'base';

@import 'partials/header';
@import 'partials/template-home';
@import 'partials/footer';
@import 'partials/buttons';

*:focus {
    outline: none;
}

.row, .relative{
	position: relative;
}

body{
	height: 100%;
	background: $clr-white;
	&.fixed{
		// position: fixed;
		overflow: hidden;
	}
}

p{
	font-size: 16px;
}

a, path, button{
	transition: $trns-default; 
}

a{
	color: $clr-main;
	text-decoration: none;
	&:hover{
		color: $clr-dark;
		text-decoration: none;
	}
}

h2{
	&.sectiontitle{
		display: block;
		padding: 70px 0 0;
		margin-bottom: 20px;
		border-top: 1px solid $clr-grey;
		text-align: center;
		font-size: 24px;
		font-weight: bold;
		color: $clr-dark;
		&.white{
			color: $clr-white;
		}
		&.noborder{
			border-top: none;
			padding: 0;
		}
		&.text-left{
			text-align: left;
		}
	}
}

h3{
	&.subtitle{
		font-size: 20px;
		font-weight: bold;
		// margin-bottom: 10px;
		&.white{
			color: $clr-white;
		}
		&.red{
			color: $clr-main;
		}
	}
}

.center{
	text-align: center;
}

.borderdiv{
	border-top: 2px solid $clr-grey;
}

.readmore{
	font-weight: bold;
	position: relative;
	padding: 0 0 0 20px;
	text-transform: none;
	text-decoration: none !important;
	margin-bottom: 10px;
	display: block;
	font-size: 16px;
	color: $clr-dark;
	&.dark{
		color: $clr-white;
	}
	&:hover{
		color: $clr-main;
	}

	&:before{
		@include font-awesome("\f061");
		color: $clr-main;
		margin-right: 10px;
		position: absolute;
		left: 0px;
		top: 6px;
	}

	&.back{
		&:before{
			@include font-awesome("\f060");
			top: 6px;
		}
	}

	&:after{
		display: none;
	}
}

.singular-header{
	text-align: center;
	margin-bottom: 25px;
	ul{
		list-style: none;
		margin: 0 0 25px;
		padding: 0;
		text-align: center;
		color: $clr-text-lt;
		font-size: 16px;
		li{
			display: inline-block;
			padding-right: 30px;
			position: relative;
			&:last-child{
				padding-right: 0;
				&:after{
					display: none;
				}
			}
			&:after{
				@include font-awesome("\f111");
				font-size: 4px;
				position: absolute;
				top: 10px;
				right: 13px;
			}
		}
	}

	.singular-image{
		img{
			margin: 5px 0 30px;
		}
	}
}

.singular-content{
	position: relative;

	a{
		&.readmore{
			color: $clr-dark;
			&:hover{
				color: $clr-main;
			}
		}
		color: $clr-main;
		&:hover{
			color: $clr-dark;
		}
	}

	&.simple{
		.gform_wrapper{
			padding: 40px;
		}
	}
	.firstletter{
		position: absolute;
		top: -20px;
		left: -30px;
		font-size: 120px;
		color: $clr-grey;
		z-index: 10;
		font-weight: bold;
		display: block;
		line-height: 95px;
	}
	.inner{
		position: relative;
		z-index: 20;
	}
	p{
		padding-bottom: 20px;
		margin-bottom: 0;

		&:first-of-type{
			font-weight: bold;
		}
	}

	h4{
		&.subtitle{
			font-size: 19px;
			color: $clr-main;
			margin-bottom: 10px;
			font-weight: bold;
		}
	}
	h1{
		color: $clr-black;
		&.small{
			font-weight: bold;
			font-size: 26px;
			margin-bottom: 20px;
		}
	}

	.inner{
		.gform_wrapper{
			@media screen and (max-width: 64em){
				padding: 70px 20px;
			}
		}
	}

	.gform_wrapper{
		display: block;
		background: $clr-white-dk;
		padding: 70px 130px;
		overflow: hidden;
		position: relative;
		box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.08);
		@media screen and (max-width: 64em){
			padding: 70px 0px;
		}

		&:after{
			content: "K";
			// background: url(../img/bigK.png) no-repeat center center;
			position: absolute;
			bottom: -20px;
			right: -50px;
			font-size: 300px;
			color: $clr-grey;
			z-index: 10;
			font-weight: bold;
			display: block;
			width: 210px;
			height: 260px;
			line-height: 230px;
			transform: rotate(-4deg);
		}

		form{
			position: relative;
			z-index: 20;
		}

		.gform_title{
			font-weight: bold;
			color: $clr-dark;
			margin-bottom: 20px;
		}
		.gform_description{
			margin-bottom: 20px;
			color: darken($clr-text-lt, 20%);
			font-size: 16px;
			display: block;
		}
		.validation_error{
			margin-bottom: 10px;
		}
		.gfield{
			margin-bottom: 10px;
			@include afterclear();
			&.gfield_error{
				.ginput_container{
					input[type="text"],
					input[type="number"],
					input[type="email"],
					textarea{
						border-top: 2px solid #d9d9d9;
						border-bottom: 2px solid $clr-main;
					}
				}
					
			}
			label{
				display: block;
				float: left;
				width: 30%;
				font-weight: bold;
				font-size: 16px;
				@media screen and (max-width: 64em){
					width: 100%;
					float: none;
					text-align: left;
				}
				.gfield_required{
					color: $clr-main;
					margin-left: 5px;
				}
			}
			.ginput_container{
				float: right;
				width: 70%;
				display: block;
				@media screen and (max-width: 64em){
					width: 100%;
					float: none;
				}
				input[type="text"],
				input[type="number"],
				input[type="email"],
				textarea{
					min-width: 0;
					background: $clr-white;
					border-radius: 5px;
					border: none;
					border-top: 2px solid #d9d9d9;
					width: 100%;
					color: $clr-dark;
				}
			}
			.validation_message{
				display: block;
				width: 100%;
				text-align: left;
				margin-left: 30%;
				font-size: 16px;
				@media screen and (max-width: 64em){
					width: 100%;
					float: none;
					margin-left: 0;
				}
				@include beforeclear();
			}
		}

		button{
			position: static;
			background: $clr-white-dk;
			color: $clr-dark;
			min-width: 0;
			width: auto;
			padding: 15px 55px 15px 25px;
			border-radius: 4px;
			border: 2px solid $clr-main;
			font-size: 16px;
			font-weight: bold;
			position: relative;
			margin-left: 30%;
			&:hover{
				background: $clr-main;
				color: $clr-white;
				&:after{
					color: $clr-white;
				}
			}
			&:after{
				@include font-awesome("\f061");
				color: $clr-main;
				margin-left: 10px;
				transition: $trns-default;
				position: absolute;
				top: 15px;
				right: 20px;
			}
		}
			
	}
}

.singular-footer{
	text-align: center;
	padding: 30px 0 30px 0;

	.readmore{
		display: inline-block;
	}
}

.homecontent{
	padding: 50px 0;
	margin-top: 30px;
	position: relative;
	@media screen and (max-width: 64em){
		padding: 50px 0 0;
	}

	.singular-content{
		padding-right: 50px;

		.inner{
			max-width: 480px;
			p{
				font-weight: normal;
			}
		}
		.firstletter{
			width: 210px;
			height: 260px;
			background: url(../img/bigK.png) no-repeat center center;
			font-size: 0;
		}
	}

	& > .row{
		z-index: 20;
	}

	.videoimage{
		z-index: 10;
		position: absolute;
		top: 0; bottom: 0;
		left: 50%; right: 0;
		&.full{
			left: 0;
		}
		&:after{
			content: "";
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			@include black-gradient(0.8);
		}
	}

	.videobtn{
		position: absolute;
		left: -65px;
		top: calc(50% - 55px);
		height: 100px;
		width: 100px;
		border: 2px solid $clr-white;
		background: $clr-main;
		border-radius: 50%;
		transition: $trns-default;
		@media screen and (max-width: 64em){
			left: 20px;
		}
		&:hover{
			color: $clr-white;
			background: $clr-dark;
			&:after{
				color: $clr-white;
			}
		}
		&:after{
			width: 100px;
			text-align: center;
			@include font-awesome("\f04b");
			font-size: 36px;
			line-height: 100px;
			color: $clr-white;
		}
	}

	.videotext{
		margin-top: 70px;
		padding: 30px 30px 30px 100px;
		position: relative;
		z-index: 20;
		transition: $trns-default;
		@media screen and (max-width: 64em){
			padding: 100px 0 100px 150px;
			margin: 0;
		}
		h4{
			font-size: 19px;
			color: $clr-main;
			margin-bottom: 5px;
			font-weight: bold;
		}
		h3{
			color: $clr-white;
			font-weight: bold;
			font-size: 26px;
			margin-bottom: 20px;
			line-height: 30px;
		}
	}
}

#videopopup{
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 1000;
	background: rgba(0,0,0,0.8);
	opacity: 0;
	pointer-events: none;
	transition: $trns-default;
	padding: 100px;
	&.active{
		opacity: 1;
		pointer-events: auto;
	}
	iframe {
	    position: absolute;
	    margin: auto;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	}
	.closebtn{
		display: inline-block;
		padding: 10px 20px;
		font-weight: bold;
		background: none;
		text-decoration: none;
		border: 2px solid $clr-main;
		color: $clr-white;
		border-radius: 4px;
		position: absolute;
		top: 50px;
		right: 50px;
		z-index: 1200;
		&:hover{
			background: $clr-main;
			text-decoration: none;
			&:after{
				color: $clr-white;
			}
		}
		&:after{
			@include font-awesome("\f00d");
			color: $clr-main;
			margin-left: 10px;
			transition: $trns-default;
		}

		
	}
}

.soon-news{
	background: $clr-dark;
	overflow: hidden;

	&.pre-footer{
		background: $clr-pre-footer;
	}

	h4{
		font-size: 19px;
		color: $clr-main;
		margin-bottom: 10px;
		font-weight: bold;
	}
	h3{
		color: $clr-white;
		font-weight: bold;
		font-size: 26px;
		margin-bottom: 20px;
	}
	p{
		color: $clr-text-lt;
		font-size: 16px;
	}

	.content-soonorder{
		display: flex;
		flex-flow: row wrap;
		.slide-content{
			padding: 90px 0;
		}
		.widget-slide-simple{
			&.pll{
				@media screen and (max-width: 40em){
					padding-left: 0;
				}
			}
		}
		
	}

	.content-soon{
		padding: 90px 0;
	}

	.content-soon,
	.content-soonorder{
		
		color: $clr-white;

		.image{
			display: block;
			text-align: center;
			@media screen and (max-width: 40em){
				margin-bottom: 20px;
			}
			
			img{
				display: inline-block;
			}
		}

		.tag{
			position: absolute;
			width: 100px;
			height: 130px;
			padding: 0 12px;
			display: flex;
			align-items: center;
  			justify-content: center;
			.cartback{
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
				width: 100px;
				height: 130px;
				z-index: 10;
			}
			span{
				position: relative;
				z-index: 20;
				display: block;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 20px;
				line-height: 24px;
				text-align: left;
				padding-left: 6px;
			}
		}
	}

	.content-news{
		padding: 90px 0 90px 100px;
		@media screen and (max-width: 64em){
			padding: 60px 20px;
		}
		.entry-content{
			padding: 0 0 0 100px;
			position: relative;

			.entry-meta{
				position: absolute;
				top: 0;
				left: 0;
				border: 2px solid $clr-text-lt;
				padding: 15px 13px 10px;
				text-transform: uppercase;
				border-radius: 4px;
				font-weight: bold;
				font-size: 16px;
				text-align: center;
				span{
					display: block;
					color: $clr-white;
				}
				.day{
					font-size: 32px;
				}
			}
		}
		h3{
			a{
				color: $clr-white;
				font-weight: bold;
				font-size: 26px;
				&:hover{
					text-decoration: none;
					color: $clr-main;
				}
			}
		}
	}

	.greybg{
		background: $clr-grey-dk;
		&.greyer{
			background: #363437;
			&:after{
				background: #363437;
			}
		}
		&:after{
			content: "";
			position: absolute;
			left: 100%;
			width: 100%;
			top: 0;
			bottom: 0;
			background: $clr-grey-dk;
		}
	}
}

.usps{

	.uspinner{
		border-top: 2px solid $clr-grey;
	}
	.content-usps{
		padding: 60px 0;
		width: 100%;
		display: flex;
		flex-flow: row wrap;

		.box{
			position: relative;
			padding: 0 0 0 50px;
			@media screen and (max-width: 64em){
				margin-bottom: 20px;
			}
			.entry-icon{
				position: absolute;
				top: 5px;
				left: 0;
				color: $clr-main;
				font-size: 28px;
				font-weight: bold;
				width: 40px;
				text-align: center;
			}
			.entry{
				h3{
					font-weight: bold;
					color: $clr-dark;
					padding: 5px 0px 5px;
				}
				p{
					color: darken($clr-text-lt, 20%);
					font-size: 16px;
					margin: 0;
				}
			}
		}
	}
}

.available{
	padding: 0;
}

.woocommerce{

	.quantity{
		.qty{
			border: 2px solid $clr-grey;
		    height: 30px;
		    line-height: 30px;
		    border-radius: 4px;
		}
	}

	.products{
		.product{
			position: relative;
			&:hover{
				.woocommerce-LoopProduct-link{
					border: 2px solid $clr-grey;
					& + .ajax_add_to_cart{
						opacity: 1;
					}

					h2{
						color: $clr-main;
						transition: $trns-default;
					}
				}
			}
			.woocommerce-LoopProduct-link{
				text-align: center;
				display: block;
				border: 2px solid $clr-white;
				border-radius: 4px;
				padding-bottom: 50px;
				transition: $trns-default;

				h2{
					font-size: 20px;
					font-weight: bold;
					color: $clr-dark;
					margin-bottom: 5px;
				}
				.price{
					color: $clr-main;
					font-weight: normal;
				}

			}

			.ajax_add_to_cart{
				position: absolute;
				bottom: 2px;
				right: 2px;
				color: $clr-main;
				background: none;
				border-top: 2px solid $clr-grey;
				border-left: 2px solid $clr-grey;
				height: 45px;
				line-height: 45px;
				padding: 0 45px 0 0;
				margin: 0;
				opacity: 0;
				transition: $trns-default;
				&:hover{
					span{
						max-width: 300px;
						padding-left: 20px;
					}
				}
				&:after{
					@include font-awesome("\f061");
					width: 45px;
					height: 43px;
					text-align: center;
					line-height: 43px;
					background: $clr-white;
					position: absolute;
					right: 0;
					top: 0;
				}
				span{
					padding-left: 0px;
					max-width: 0px;
				    overflow: hidden;
				    display: block;
				    transition: $trns-default;
				}
			}
		}
	}

	.woocommerce-pagination{
		margin-bottom: 60px;
		.page-numbers{
			border: none;
			margin: 0;
			li{
				border: none;
				background: none;
				overflow: visible;

				span, a{
		    		margin-left: -2px;
		    		width: 45px;
		            height: 45px;
		            background: $clr-white;
		            border: 2px solid $clr-grey;
		            // border-right: none;
		            line-height: 41px;
		            border-radius: 4px;
		            text-align: center;
		            display: block;
		            color: $clr-dark;
		            transition: 0.3s all ease-in-out;
		            font-weight: bold;
		            padding: 0;
		            box-sizing: border-box;
		            &:hover{
		            	background: $clr-white;
		            	color: $clr-main;
		            }
		            &.current{
		            	background: $clr-white;
		            	color: $clr-main;
		            }
		            &.next{
		            	border: none;
		            	margin-left: 0;
		            	font-size: 0;
		            	line-height: 44px;
		            	&:hover{
		            		padding-left: 5px;
		            	}
		            	&:after{
		            		@include font-awesome("\f061");
							color: $clr-main;
							font-size: 16px;
							line-height: 40px;
		            	}
		            }
		            &.prev{
		            	border: none;
		            	margin-left: 0;
		            	font-size: 0;
		            	line-height: 44px;
		            	&:hover{
		            		padding-right: 5px;
		            	}
		            	&:after{
		            		@include font-awesome("\f060");
							color: $clr-main;
							font-size: 16px;
							line-height: 40px;
		            	}
		            }
		            
		    	}
			}
			
		}
	}

	.woocommerce-result-count,
	.woocommerce-ordering{
		display: none;
	}

	.product{
		.summary{
			.woocommerce-product-details__short-description{
				p{
					font-weight: bold;
					font-size: 19px;
					line-height: 26px;
				}				
			}

			.attributes,
			.product_meta{
				list-style: none;
				padding: 10px 0 0;
				margin: 0;
				label{
					color: $clr-dark;
					text-transform: uppercase;
					font-weight: bold;
					width: 110px;
					display: inline-block;
					font-size: 16px;
				}
				.value{
					font-size: 16px;
					color: lighten($clr-text, 10%);
				}
			}

			.product_meta{
				padding: 0 0 30px;
			}

			.prod_usp{
				ul{
					list-style: none;
					margin: 20px 0 0;
					text-align: center;
					li{
						display: inline-block;
						padding: 10px 30px 10px 25px;
						position: relative;
						font-size: 16px;
						color: lighten($clr-text, 10%);
						&:before{
							@include font-awesome("\f058");
							color: $clr-main;
							position: absolute;
							top: 14px;
							left: 0px;
						}
					}
				}
			}
		}
		.greyblock{
			padding: 30px;
			background: $clr-white-dk;
			position: relative;
			@media screen and (max-width: 64em){
				margin-top: 20px;
			}
			@include afterclear();
			.price{
				font-size: 36px;
				color: $clr-main;
				font-weight: bold;
				float: left;
				line-height: 50px;
				margin: 0;
				@media screen and (max-width: 64em){
					margin: 0 0 20px 0;
					font-size: 36px;
					text-align: center;
					float: none;
					display: block;
				}
				.woocommerce-Price-currencySymbol{
					margin-right: 10px;
				}
			}

			.cart{
				float: right;
				margin: 0;

				.qty{
					border: 2px solid $clr-text-lt;
					height: 50px;
					line-height: 50px;
					border-radius: 4px;
				}
			}

			.prodlabel{
				position: absolute;
				top: -36px;
				right: 0;
				height: 36px;
				line-height: 36px;
				
				font-size: 13px;
				text-transform: uppercase;
				font-weight: bold;
				padding: 0 15px;
				border-radius: 4px 4px 0 0;
				&.preorder{
					background: $clr-main;
					color: $clr-white;
				}
				&.reprint{
					background: $clr-dark;
					color: $clr-white;
				}
			}
		}

		.woocommerce-product-gallery{
			max-height: 450px;
			text-align: center;
			.woocommerce-product-gallery__image{
				text-align: center;
				a{
					display: inline-block;
				}
			}
			img{
				max-height: 450px;
				width: auto !important;
			}
		}
	}


	.woocommerce-cart-form{
		input[type="text"]{
			// border: 2px solid #939194 !important;
		    height: 50px;
		    line-height: 50px;
		    border-radius: 4px;
		    min-width: 150px;
		}
	}

	.shop_table{
		border: 2px solid $clr-grey !important;
		@media screen and (max-width: 64em){
			border-radius: 0 0 4px 4px;
		}
		&.cart{
			border: none !important;
		}

		&.woocommerce-checkout-review-order-table{
			thead{
				tr{
					th{
						border: none !important;
						border-bottom: 2px solid $clr-grey !important;
						&:first-child{
							border: none !important;
							border-bottom: 2px solid $clr-grey !important;
						}
						&:last-child{
							border: none !important;
							border-bottom: 2px solid $clr-grey !important;
						}
					}
				}
			}
			tr{
				&.cart_item{
					td{
						border: none !important;
						border-bottom: 2px solid $clr-grey !important;

						&:first-child{
							border: none !important;
							border-bottom: 2px solid $clr-grey !important;
						}
						&:last-child{
							border: none !important;
							border-bottom: 2px solid $clr-grey !important;
						}
					}
				}
			}
		}

		tr{
			&.cart-subtotal{
				th,td{
					border-top: none !important;
				}
			}
		}
		thead{
			tr{
				th{
					&:first-child{
						border-left: 2px solid $clr-grey !important;
						border-radius: 4px 0 0 0;
					}
					&:last-child{
						border-right: 2px solid $clr-grey !important;
						border-radius: 0 4px 0 0;
					}
				}
			}
		}
		tr{
			&.cart_item{
				td{
					@media screen and (max-width: 64em){
						border-left: 2px solid $clr-grey !important;
						border-right: 2px solid $clr-grey !important;
					}
					&:first-child{
						border-left: 2px solid $clr-grey !important;
						@media screen and (max-width: 64em){
							border-radius: 4px 4px 0 0;
						}
					}
					&:last-child{
						border-right: 2px solid $clr-grey !important;
						@media screen and (max-width: 64em){
							border-radius: 0 0 4px 4px;
						}
					}
				}
				&:last-child{
					td{
						&:first-child{
							border-radius: 0 0 0 4px;
						}
						&:last-child{
							border-radius: 0 0 4px 0;
						}
					}
				}
			}
		}
		th,td{
			border-top: 2px solid $clr-grey !important;
		}

		.actions{
			padding: 10px 0;
			.button{
				border: 2px solid $clr-main;
				border-radius: 4px;
				padding: 15px 25px 15px 25px !important;
				font-weight: bold;
				background: transparent !important;
				color: $clr-dark !important;
				position: relative;
				&:hover{
					background: $clr-main !important;
					color: $clr-white !important;
					&:after{
						color: $clr-white;
					}
				}
			}
		}
	}

	.cart_totals{
		margin-top: 40px;
		float: none !important;
		width: 100% !important;
		@include afterclear();
		h2{
			display: block;
			margin-bottom: 20px;
			text-align: center;
			font-size: 20px;
			font-weight: bold;
			color: $clr-dark;
			border-top: none;
			padding: 0;
		}
		.shop_table{
			width: 48%;
			float: left;
			@media screen and (max-width: 64em){
				float: none;
				width: 100%;
			}
		}

		.wc-proceed-to-checkout{
			width: 48%;
			float: right;
			padding-top: 30px;
			@media screen and (max-width: 64em){
				float: none;
				width: 100%;
			}
		}
	}

	button,
	.checkout-button{
		&.button{
			&.alt{
				border: 2px solid $clr-main;
				border-radius: 4px;
				padding: 15px 55px 15px 25px;
				font-weight: bold;
				background: transparent !important;
				color: $clr-dark !important;
				position: relative;
				&:hover{
					background: $clr-main !important;
					color: $clr-white !important;
					&:after{
						color: $clr-white;
					}
				}
				&:after{
					@include font-awesome("\f061");
					color: $clr-main;
					position: absolute;
					top: 14px;
					right: 25px;
				}
			}
		}
	}
	a.button{
		
		&.wc-backward{
			border: 2px solid $clr-main !important;
			border-radius: 4px !important;
			font-weight: bold !important;
			background: transparent !important;
			color: $clr-dark !important;
			position: relative !important;
			padding: 15px 25px 15px 55px !important;
			&:hover{
				background: $clr-main !important;
				color: $clr-white !important;
				&:after{
					color: $clr-white !important;
				}
				&:before{
					color: $clr-white !important;
				}
			}

			&:before{
				@include font-awesome("\f060");
				color: $clr-main;
				position: absolute;
				top: 14px;
				left: 25px;
			}
		}

	}

	.out-of-stock{
		display: none;
	}

	.wc_gallery{
		.pageslider{
			margin: 20px 0 0;
		}
	}

	.woocommerce-checkout{

		.form-row-first,.form-row-last{
			@media screen and (max-width: 40em){
				width: 100%;
			}
			
		}
		.formblock{
			padding: 40px;
			background: $clr-white-dk;
			border-radius: 4px;
			@media screen and (max-width: 64em){
				margin-bottom: 30px;
				padding: 20px;
			}
			input[type="text"],
			input[type="number"],
			input[type="phone"],
			input[type="tel"],
			input[type="email"],
			textarea,
			select{
				min-width: 0;
			    background: $clr-white;
			    border-radius: 5px;
			    border: none;
			    border-top: 2px solid #d9d9d9;
				width: 100%;
				color: $clr-dark;
				padding: 10px;
			}
			.select2{
				&.select2-container--open{
					.select2-selection--single{
						border-left: 2px solid #d9d9d9;
						border-right: 2px solid #d9d9d9;
						border-radius: 5px 5px 0 0;
					}
				}
				.select2-selection--single{
					border-radius: 5px;
					border: none;
					border-top: 2px solid #d9d9d9;
					
					background: $clr-white;
					height: 40px;
					span{
						padding: 5px 14px;
						&.select2-selection__arrow{
							padding: 20px;
						}
					}
				}
			}
				
			
			label{
				display: block;
			    font-weight: bold;
			    font-size: 16px;
			}
		}
		#payment{
			background: none;
			ul{
				&.payment_methods{
					background: $clr-white-dk;
					border-radius: 4px;
					border-bottom: none;
				}
			}
		}

		.place-order{
			padding: 20px 0;
		}
	}

	

	.woocommerce-order{
		h2{
			display: block;
			padding: 0;
			margin-bottom: 10px;
			font-size: 20px;
			font-weight: bold;
			color: $clr-dark;
		}
		.woocommerce-order-overview{
			
			&.order_details{
				border: 2px solid $clr-main;
				border-radius: 4px;
				li{
					text-transform: none;
					font-size: 1em;
					padding: 10px 20px;
					margin: 0;
					width: 25%;
					@media screen and (max-width: 40em){
						width: 100%;
					}
				}
			}
		}
		.woocommerce-order-details{
			margin: 20px 0;
			.order_details{
				thead{
					tr{
						&:first-child{
							th,td{
								border-top: none !important;
								border-left: none !important;
								border-right: none !important;
							}
						}
					}
				}
				
			}
			.woocommerce-customer-details{
				.woocommerce-table--customer-details{
					tr{
						&:first-child{
							th,td{
								border-top: none !important;
							}
						}
					}
				}
			}
		}
	}
		

	.payment_box{
		select{
			min-width: 0;
		    background: $clr-white;
		    border-radius: 5px;
		    border: none;
		    border-top: 2px solid #d9d9d9;
			width: 100%;
			color: $clr-dark;
			padding: 10px;
		}
	}
}

.select2-dropdown{
	border: 2px solid #d9d9d9 !important;
	border-top: none !important;
}


.woocommerce_widgets{
	margin-right: 30px;
	padding: 40px;
	border: 2px solid $clr-grey;
	border-radius: 4px;
	@media screen and (max-width: 64em){
		margin: 0 0 30px 0;
	}
	.widget{
		margin-bottom: 20px;
		font-size: 16px;
		&:last-child{
			margin-bottom: 0;
		}
		.widget-title{
			color: $clr-dark;
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 20px;
		}

		.count{
			float: right;
			font-size: 12px;
			color: $clr-grey-dk;
		}
		&.widget_layered_nav{
			ul{
				li{
					&.chosen{
						a{
							&:before{
								background: $clr-main;
								color: $clr-white;
								@include font-awesome("\f00c");
								line-height: 12px;
								font-size: 12px;
								margin: 0;
							}
						}
					}
				}
			}
		}
		ul{
			list-style: none;
			margin: 0;
			li{
				a{
					position: relative;
					padding-left: 30px !important;
					color: $clr-dark;
					&:hover{
						color: $clr-main;
					}
					&:before{
						position: absolute;
						top: 5px;
						left: 0;
						content: "";
						color: $clr-main;
						border: 2px solid $clr-main;
						width: 15px;
						height: 15px;
						line-height: 15px;
						text-align: center;
						border-radius: 4px;
					}
				}
			}
		}
				
	}
		
}

.also{
	padding: 0 0 90px 0;
	.sectiontitle{
		@media screen and (max-width: 64em){
			margin-bottom: 60px;
		}
	}
	.tag{
		position: absolute;
		width: 80px;
		height: 95px;
		padding: 0 12px;
		// display: flex;
		align-items: center;
		justify-content: center;
		top: -25px;
		left: calc(50% - 40px);
		.cartback{
			position: absolute;
			top: 0; bottom: 0;
			left: 0; right: 0;
			width: 80px;
			height: 95px;
			z-index: 10;
		}
		span{
			position: relative;
			z-index: 20;
			display: block;
			font-weight: bold;
			text-transform: uppercase;
			font-size: 22px;
			line-height: 24px;
			padding-top: 18px;
			color: $clr-white;
			text-align: center;
		}
		strong{
			display: block;
			font-size: 40px;
			line-height: 30px;
		}
	}

	.content-top3{
		border: 2px solid $clr-grey;
		border-radius: 4px;
		padding-bottom: 40px;
		text-align: center;
		.position{
			text-align: center;
			span{
				background: $clr-main;
				color: $clr-white;
				font-weight: bold;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height: 29px;
				display: inline-block;
			}
		}
		h3{
			font-size: 16px;
			font-weight: bold;
			color: $clr-dark;
			margin: 15px 0 0;
			transition: $trns-default;
		}

		.slide-content{
			&:hover{
				text-decoration: none;
				h3{
					color: $clr-main;
				}			
			}
			img{
				display: inline-block;
			}
		}

		.slick-dots{
			bottom: -7px;
			li{
				background: $clr-white;
				margin: 0;
				padding: 0 5px;
				&:first-child{
					padding-left: 20px;
				}
				&:last-child{
					padding-right: 20px;
				}
				&.slick-active{
					button{
						&:after{
							background: $clr-main;
						}
					}
				}
				button{
					&:after{
						background: #555356;
					}
				}
			}

				
		}
	}
}
	
.footer{
	background: $clr-dark;
	position: relative;

	.subtitle{
		padding-bottom: 15px;
	}

	&:before{
		content: "";
		width: 60px;
		height: 70px;
		background: url(../svg/logo-kick_icon.svg) no-repeat center center / cover;
		position: absolute;
		left: calc(50% - 30px);
		top: -35px;
	}

	.newsletter{
		padding: 100px 0 90px;
		@media screen and (max-width: 40em){
			padding-bottom: 40px;
		}

		p{
			padding: 20px 0 0;
			width: 100%;
			&.white{
				color: $clr-text-lt;
			}
		}

		.gform_confirmation_message{
		    padding: 10px 20px 10px 40px;
		    position: relative;
		    background: $clr-success;
		    color: $clr-white;
		    font-size: 16px;
		    width: auto;
		    float: right;
		    min-width: 300px;
		}

		.gform_wrapper{
			float: right;
			@media screen and (max-width: 64em){
				float: none;
			}
			.gform_footer{
				display: none;
			}

			.gfield_visibility_{
				display: none;
			}

			.validation_error{
				padding: 10px 20px 10px 40px;
				position: relative;
				background: lighten($clr-grey-dk, 10%);
				color: $clr-white;
				font-size: 16px;
				display: none;
				&:before{
					@include font-awesome("\f06a");
					color: $clr-main;
					position: absolute;
					top: 17px;
					left: 20px;
					border-radius: 50%;
					background: $clr-white;
					line-height: 12px;
				    width: 13px;
				    // text-indent: -1px;
				    font-size: 16px;
				}
			}
			
			.validation_message{
				color: $clr-main;
			}
			
			label{
				display: none;
			}

			input{
				min-width: 400px;
				width: 100%;
				padding: 10px;
				background: $clr-grey-dk;
				color: $clr-white;
				border: none;
				@media screen and (max-width: 64em){
					min-width: 100%;
				}
				&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
				    color:    #777;
				}
				&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
				   color:    #777;
				   opacity:  1;
				}
				&::-moz-placeholder { /* Mozilla Firefox 19+ */
				   color:    #777;
				   opacity:  1;
				}
				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				   color:    #777;
				}
				&::-ms-input-placeholder { /* Microsoft Edge */
				   color:    #777;
				}
			}

			button{
				position: absolute;
				top: 0;
				right: 0;
				cursor: pointer;
				&:hover{
					i{
						color: $clr-main;
					}
				}
				i{
					width: 66px;
					height: 46px;
					line-height: 46px;
					color: $clr-white;
					text-align: center;
					transition: $trns-default;
				}					
			}
		}

		.social-network{
			list-style: none;
			margin: 0;
			@media screen and (max-width: 40em){
				text-align: center;
				margin-top: 20px;
			}
			li{
				display: inline-block;
				a{
					display: block;
					width: 46px;
					height: 46px;
					margin-right: 15px;
					border: 2px solid $clr-grey-dk;
					color: $clr-white;
					line-height: 46px;
					text-align: center;
					font-size: 22px;
					border-radius: 4px;
					&:hover{
						border-color: $clr-main;
					}
				}
			}
		}
	}

	.mainfooter{
		padding: 65px 0 50px;
		background: $clr-grey-dk;
		color: $clr-text-lt;
		font-size: 16px;
		a{
			color: $clr-white;
			text-decoration: none;
			&:hover{
				text-decoration: none;
				color: $clr-main;
			}
		}

		.logos{
			text-align: right;
			@media screen and (max-width: 64em){
				text-align: center;
				margin-top: 40px;
			}
			ul{
				list-style: none;
				display: inline-block;
				margin: 0;
				li{
					display: inline-block;
					margin: 0 0 0 20px;
					@media screen and (max-width: 64em){
						margin: 0 10px 10px 10px;
					}
					img{
						height: 40px;
						width: auto;
					}
				}
			}
		}

		.footernav{
			margin-top: 65px;
			@media screen and (max-width: 64em){
				margin-top: 20px;
			}
			#footer-menu{
				list-style: none;
				text-align: right;
				margin: 0 0 5px;
				@media screen and (max-width: 64em){
					text-align: center;
				}
				li{
					display: inline-block;
					margin: 0 0 0 20px;
					@media screen and (max-width: 64em){
						margin: 0 10px 0 10px;
					}
					a{
						font-size: 14px;
					}
				}
			}
			.copyright{
				text-align: right;
				font-size: 14px;
				@media screen and (max-width: 64em){
					text-align: center;
				}
			}
		}
		
		.service-list{
			list-style: none;
			margin: 0;
			li{
				padding: 0 0 5px 30px;
				position: relative;
				&:before{
					@include font-awesome("\f061");
					color: $clr-main;
					position: absolute;
					top: 3px;
					left: 0;
				}
			}
		}

		.contact-list{
			list-style: none;
			margin: 0;
			@media screen and (max-width: 40em){
				margin-bottom: 30px;
			}
			li{
				padding: 0 0 5px 30px;
				position: relative;
				color: $clr-white;
				font-weight: bold;
				&:before{
					@include font-awesome("\f095");
					color: $clr-main;
					position: absolute;
					top: 3px;
					left: 0;
				}
				&.email{
					&:before{
						@include font-awesome("\f0e0");
					}
				}
				&.address{
					font-weight: normal;
					color: $clr-text-lt;
					&:before{
						@include font-awesome("\f041");
					}
				}
			}
		}
	}
}

.gform_wrapper{
	.gform_fields{
		list-style: none;
		margin: 0;
		position: relative;
	}

	.gfield_visibility_{
		display: none;
	}

	.validation_error{
		padding: 10px 20px 10px 40px;
		position: relative;
		background: lighten($clr-grey-dk, 10%);
		color: $clr-white;
		font-size: 16px;
		&:before{
			@include font-awesome("\f06a");
			color: $clr-main;
			position: absolute;
			top: 17px;
			left: 20px;
			border-radius: 50%;
			background: $clr-white;
			line-height: 12px;
		    width: 13px;
		    // text-indent: -1px;
		    font-size: 16px;
		}
	}
	.validation_message{
		color: $clr-main;
	}
	
	label{
		display: none;
	}

	input{
		min-width: 400px;
		width: 100%;
		padding: 10px;
		background: $clr-grey-dk;
		color: $clr-white;
		border: none;
		&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    #777;
		}
		&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #777;
		   opacity:  1;
		}
		&::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #777;
		   opacity:  1;
		}
		&:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #777;
		}
		&::-ms-input-placeholder { /* Microsoft Edge */
		   color:    #777;
		}
	}

	button{
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		&:hover{
			i{
				color: $clr-main;
			}
		}
		i{
			width: 66px;
			height: 46px;
			line-height: 46px;
			color: $clr-white;
			text-align: center;
			transition: $trns-default;
		}					
	}
}

.pagetop{
	background: $clr-white-dk;
	padding: 70px 0 70px;
	min-height: 170px;
	h1{
		font-size: 40px;
		color: $clr-dark;
		font-weight: bold;
	}
}

.subnav{
	background: $clr-grey;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-block;
		li{
			display: inline-block;
			&.current-post-item{
				a{
					background: $clr-white;
					color: $clr-main;
				}
				ul{
					li{
						a{
							color: $clr-dark;
							background: $clr-grey;
							&:hover{
								text-decoration: none;
								background: $clr-white;
								// color: $clr-main;
							}
						}
					}
				}
			}
			a{
				background: $clr-grey;
				padding: 20px;
				color: $clr-dark;
				display: inline-block;
				&:hover{
					text-decoration: none;
					background: $clr-white;
					// color: $clr-main;
				}
			}
		}
	}
}

.maincontent{
	padding: 70px 0 20px;

	&.page-news{
		padding-top: 30px;
	}

	&.greybg{
		background: $clr-white-dk;
	}

	.page-description{
		display: none;
	}

	.contactinfo{
		padding: 0 0 30px 0;
		h2{
			font-weight: bold;
			font-size: 20px;
			color: $clr-dark;
			margin-bottom: 20px;
		}
		a{
			&:hover{
				color: $clr-main;
				text-decoration: none;
			}
		}
		.wicon{
			padding: 0 0 0 30px;
			position: relative;
			
			a{
				display: block;
				color: $clr-dark;
				&:hover{
					color: $clr-main;
				}
			}

			&:before{
				@include font-awesome("\f095");
				color: $clr-main;
				position: absolute;
				top: 3px;
				left: 0;
			}
			&.phone{
				font-weight: bold;
			}
			&.email{
				font-weight: bold;
				&:before{
					@include font-awesome("\f0e0");
				}
			}
			&.address{
				font-weight: normal;
				color: darken($clr-text-lt, 20%);
				font-size: 16px;
				&:before{
					@include font-awesome("\f041");
				}
				a{
					display: block;
					color: $clr-main;
					&:hover{
						color: $clr-dark;
					}
				}
			}
		}
			
	}

	.kvkdata{
		padding: 20px 0 0;
		@media screen and (max-width: 64em){
			padding-bottom: 30px;
		}
		.element{
			font-size: 16px;
			padding: 0 0 5px;
			label{
				font-weight: bold;
				text-decoration: uppercase;
				width: 75px;
				display: inline-block;
			}
		}
	}

	.cart_section{
		text-align: center;
		padding: 20px 0 50px;

		.gform_wrapper{
			&.nobg_wrapper{
				background: none;
				padding: 60px 130px 0;
				margin-top: 20px;
				box-shadow: none;
				border-top: 2px solid $clr-grey;
				@media screen and (max-width: 64em){
					padding: 60px 0;
				}
				&:after{
					display: none;
				}
				.gform_footer{
					margin-top: 30px;
				}
			}
		}
	}

	&.woocommerce{
		padding-bottom: 0px;
		.products{
			.product{
				width: 33.3333%;
				margin: 0 0% 2.992em 0;
				@media screen and (max-width: 64em){
					width: 50%;
					margin: 0 0% 2.992em 0;
					clear: none;
				}
			}
		}

		.singular-content{

		}
		
	}
}

.relatedproducts{
	padding: 70px 0 30px;
	.related{
		border-bottom: 2px solid $clr-grey;
		& > h2{
			display: none;
		}
	}

	.backbtn{
		position: absolute;
		left: 20px;
		@media screen and (max-width: 64em){
			position: static;
			width: 100%;
			text-align: center;
			padding: 0 0 10px 0;
			.readmore{
				display: inline-block;
			}
		}
	}

}

.pageslider{
	padding: 40px 20px;
	margin: 40px 0;
	background: $clr-white-dk;
	width:100%;
	position: relative;
	@include afterclear();

	.slick-dots{
		bottom: 15px;
		li{
			&.slick-active{
				button{
					&:after{
						background: $clr-main;
					}
				}
			}
			button{
				&:after{
					background: $clr-dark;
				}
			}
		}
	}
}

.slick-arrow{
	width: 40px;
	height: 40px;
	line-height: 36px;
	text-align: center;
	background: $clr-main;
	color: $clr-white;
	position: absolute;
	top: calc(50% - 18px);
	border-radius: 0;
	z-index: 500;
	cursor: pointer;
	border: 2px solid $clr-main;
	&:hover{
		background: $clr-white;
		color: $clr-main;
	}
	&.slick-prev{
		left: 0;
	}
	&.slick-next{
		right: 0;
	}
}

.crumbs{
	padding: 30px 0;
	font-weight: bold;
	font-size: 16px;
	color: $clr-dark;

	&.pre-footer{
		padding-bottom: 60px;
	}

	a{	
		color: $clr-dark;
		&:hover{
			color: $clr-main;
			text-decoration: none;
		}
	}

	.sep{
		margin: 0 15px;
		font-size: 0;
		display: inline-block;
		width: 20px;
		&:after{
			@include font-awesome("\f061");
			color: $clr-main;
			font-size: 16px;
		}
	}
}

.search-list{
	.search-item {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 2px dashed $clr-white-dk;
		h2{
			a{
				text-decoration: none;
			}
		}
		p{
			font-weight: normal;
		}
	}
}

.news{
	padding: 70px 0 20px;

	.sectiontitle{
		margin-bottom: 40px;
	}
	
	.faceted-search-footer{
		padding-bottom: 50px;
		border-bottom: 2px solid $clr-grey;
		margin-bottom: 20px;
	}
	.news-item{
		margin-bottom: 30px;
		display: block;
		color: $clr-text;

		&:hover{
			text-decoration: none;
			color: inherit;
			.entry-content{
				&:after{
					opacity: 1;
				}
				h3{
					color: $clr-main;
				}
			}				
		}
		.entry-header{
			position: relative;
			border-radius: 4px 4px 0 0;
			overflow: hidden;

			img{
				position: relative;
				z-index: 10;
			}
			.terms{
				position: absolute;
				left: 30px;
				top: 30px;
				z-index: 20;
				padding: 5px 10px; 
				color: $clr-white;
				background: $clr-main;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 16px;
				border-radius: 4px;
			}
			.entry-meta{
				position: absolute;
				bottom: 0;
				left: 30px;
				z-index: 20;
				border: 2px solid $clr-white;
				border-bottom: none;
				padding: 15px 13px 10px;
				text-transform: uppercase;
				border-radius: 4px 4px 0 0;
				font-weight: bold;
				font-size: 16px;
				text-align: center;
				background: rgba(0,0,0,0.6);
				span{
					display: block;
					color: $clr-white;
				}
				.day{
					font-size: 32px;
				}
			}
		}

		.entry-content{
			padding: 30px;
			border: 2px solid $clr-grey;
			border-top: none;
			font-size: 16px;
			position: relative;
			border-radius: 0 0 4px 4px;
			min-height: 260px;
			&:after{
				@include font-awesome("\f061");
				position: absolute;
				bottom: 0;
				right: 0;
				width: 45px;
				height: 45px;
				border-top: 2px solid $clr-grey;
				border-left: 2px solid $clr-grey;
				line-height: 45px;
				text-align: center;
				color: $clr-main;
				opacity: 0;
				transition: $trns-default;

			}
			h3{
				font-weight: bold;
				margin-bottom: 20px;
				color: $clr-dark;
				transition: $trns-default;
			}
		}
	}
}

.share{
	padding: 20px 30px;
	background: $clr-main;
	position: fixed;
	top: 250px;
	right: 0;
	color: $clr-white;
	text-align: center;
	border-radius: 4px 0 0 4px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	z-index: 700;

	@media screen and (max-width: 64em){
		position: static;
		box-shadow: none;
	}
	h4{
		color: $clr-white;
		font-weight: bold;
		margin-bottom: 15px;
	}
	ul{
		list-style: none;
		margin: 0;
		text-align: center;
		display: block;
		li{
			display: inline-block;
			padding: 0 5px;
			a{
				width: 40px;
				height: 40px;
				color: $clr-white;
				border: 2px solid $clr-white;
				border-radius: 4px;
				display: block;
				font-size: 18px;
				line-height: 40px;
				&:hover{
					color: $clr-main;
					background: $clr-white;
				}
			}
		}
	}
}

.faceted-paginate,
.wp-paginate {
    list-style: none;
    text-align: center;
    margin: 20px 0 0;
    li {
        // float: left;
        display: inline-block;
        // margin-right: 2px;
        margin: 0;
        
        .gap{
        	width: 45px;
            height: 45px;
            background: $clr-white;
            // border-bottom: 3px solid $clr-second-dk;
            line-height: 45px;
            border-radius: 5px;
            text-align: center;
            display: block;
            color: $clr-main;
            font-weight: bold;
            padding: 0;
            box-sizing: border-box;
        }
        &.page{
        	// &:first-child{
	        // 	span, a{
	        // 		border-radius: 4px 0 0 4px;
	        // 	}        	
	        // }
	        // &:last-child{
	        // 	display: none;
	        // 	span, a{
	        // 		border-radius: 0 4px 4px 0;
	        // 		border-right: 2px solid $clr-grey;
	        // 	}
	        // }
        	&.current,
            &:hover {
            	span, a{
	                color: $clr-main;
	                text-decoration: none;
	                padding: 0;            		
            	}
            }
        	span, a{
        		margin-left: -2px;
        		width: 45px;
	            height: 45px;
	            background: $clr-white;
	            border: 2px solid $clr-grey;
	            // border-right: none;
	            line-height: 44px;
	            border-radius: 4px;
	            text-align: center;
	            display: block;
	            color: $clr-dark;
	            transition: 0.3s all ease-in-out;
	            font-weight: bold;
	            padding: 0;
	            box-sizing: border-box;
	            
        	}
	            
            
        }
        .next,
        .prev {
            background: none;
            border: none;
            color: $clr-grey;
            text-transform: uppercase;
            width: auto;
            padding: 0;
            width: 45px;
	        height: 45px;
	        line-height: 41px;
	        text-align: center;
	        display: block;
            &:hover {
                background: none;
                border: none;
                box-shadow: none;
                color: $clr-text;
            }
            span {
                background: none;
                border: none;
                color: $clr-main;
                text-transform: uppercase;
                width: auto;
                display: inline-block;
            }
            i{
                height: 40px;
                line-height: 40px;
                border-radius: 5px;
                text-align: center;
            }
        }
        .next{
        	&:hover{
        		padding-left: 5px;
        	}
        }
        .prev{
        	&:hover{
        		padding-right: 5px;
        	}
        }
    }
}

#glmap{
	position: relative;
	.infoblock{
		background: $clr-second;
		color: $clr-white;
		padding: 40px;
		text-align: left;
		position: absolute;
		left: 10%;
		bottom: 50px;
		// margin-top: -120px;
		width: 380px;
		z-index: 5;
		@media only screen and (max-width: 40em){
			width: 80%;
		}
		h3{
			margin: 0;
		}
		p{
			padding: 0;
			text-align: left;
		}
	}
	#map-canvas {
        width: 100%;
        height: 440px;
        @media only screen and (max-width: 40em){
        	height: 600px;
        }
    }
}