/******************
 * SCSS Variables   *
 ******************/
/*
 ** http://stackoverflow.com/questions/17181849/placeholder-mixin-scss-css
 */
/*
 ** https://github.com/mastastealth/sass-flex-mixin
 */
/* -------------------------------------------------------------
 Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
 By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
 List of CSS3 Sass Mixins File to be @imported and @included as you need
 The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
 ENDING css files
 ------------------------------------------------------------- */
/******************
 * SCSS Variables   *
 ******************/
[class*="column"] + [class*="column"]:last-child {
  float: left; }

html, body {
  min-height: 100%;
  background: #e6e6e6;
  line-height: 26px;
  color: #333; }

body, input, textarea {
  font-family: "acumin-pro", sans-serif;
  font-size: 16px;
  color: #2d2a2e;
  line-height: 26px; }

a {
  text-decoration: none;
  color: #2d2a2e; }

a:hover {
  text-decoration: underline; }

.std p {
  margin: 0 0 20px; }
  .std p img.left {
    float: left; }
    .std p img.right {
      float: right; }
  .std a {
    text-decoration: underline; }
  .std a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "acumin-pro", sans-serif;
  margin: 0;
  text-decoration: none;
  color: #333; }

h1 {
  font-size: 24px;
  line-height: normal;
  font-weight: 300; }

h2 {
  font-size: 24px;
  line-height: normal;
  font-weight: 300; }

h3 {
  font-size: 18px;
  line-height: normal;
  font-weight: 300; }

h4 {
  font-size: 16px;
  line-height: normal;
  font-weight: 300; }

h5 {
  font-size: 13px;
  line-height: normal;
  font-weight: 300; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none; }

.std dl dl {
  margin: 0 0 1.5em 0; }
  .std dl dl dt {
    font-weight: normal; }
  .std dl dd {
    margin-left: 1.5em; }
  .std dl table {
    margin-bottom: 1.4em; }
  .std dl th {
    font-weight: normal; }
  .std dl th, .std dl td, .std dl caption {
    padding: 3px 10px 3px 0; }
  .std dl tfoot {
    font-style: italic; }
  .std dl caption {
    background: #eee; }

.readmore {
  text-transform: uppercase; }
  .readmore:after {
    padding-left: 25px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: '\f054';
    font-size: 12px;
    margin-top: -1px; }

.bottom-collapse-container {
  overflow: hidden;
  cursor: pointer; }
  .bottom-collapse-container .bottom-collapse {
    background-color: #e6e6e6;
    bottom: -70px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 70px;
    line-height: 70px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -khtml-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
  .bottom-collapse-container .bottom-collapse span {
    margin-top: 10px;
    display: block;
    -webkit-transition: transform 0.35s;
    -khtml-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    -khtml-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -o-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    text-transform: uppercase; }
  .bottom-collapse-container .bottom-collapse .fa {
    font-size: 12px;
    margin-top: 10px;
    -webkit-transition: transform 0.35s;
    -khtml-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 200%, 0);
    -khtml-transform: translate3d(0, 200%, 0);
    -moz-transform: translate3d(0, 200%, 0);
    -ms-transform: translate3d(0, 200%, 0);
    -o-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0); }
  .bottom-collapse-container:hover .bottom-collapse {
    bottom: 0; }
    .bottom-collapse-container:hover .bottom-collapse span, .bottom-collapse-container:hover .bottom-collapse .fa {
      margin-top: 0;
      -webkit-transition-delay: 0.05s;
      -khtml-transition-delay: 0.05s;
      -moz-transition-delay: 0.05s;
      -ms-transition-delay: 0.05s;
      -o-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transform: translate3d(0, 0, 0);
      -khtml-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .bottom-collapse-container:hover .bottom-collapse .fa {
      -webkit-transition-delay: 0.125s;
      -khtml-transition-delay: 0.125s;
      -moz-transition-delay: 0.125s;
      -ms-transition-delay: 0.125s;
      -o-transition-delay: 0.125s;
      transition-delay: 0.125s;
      -webkit-transform: translate3d(0, 0, 0);
      -khtml-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }

.hide {
  overflow: hidden;
  height: 0; }

.nodisplay {
  display: none; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 2em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 2em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }
/******************************************
 * Border (single-line)                   *
 * -------------------------------------- *
 * a: all             l: light            *
 * t: top             m: medium           *
 * r: right           d: dark             *
 * b: bottom          b: black            *
 * l: left                                *
 * h: horizontal                          *
 * v: vertical                            *
 ******************************************/
.no-border {
  border: none; }

.bal {
  border: 1px solid #111; }

.bam {
  border: 1px solid #dadada; }

.bad {
  border: 1px solid #ccc; }

.bab {
  border: 1px solid #000; }

.btl {
  border-top: 1px solid #111; }

.btm {
  border-top: 1px solid #dadada; }

.btd {
  border-top: 1px solid #ccc; }

.btb {
  border-top: 1px solid #000; }

.brl {
  border-right: 1px solid #111; }

.brm {
  border-right: 1px solid #dadada; }

.brd {
  border-right: 1px solid #ccc; }

.brb {
  border-right: 1px solid #000; }

.bbl {
  border-bottom: 1px solid #111; }

.bbm {
  border-bottom: 1px solid #dadada; }

.bbd {
  border-bottom: 1px solid #ccc; }

.bbb {
  border-bottom: 1px solid #000; }

.bll {
  border-left: 1px solid #111; }

.blm {
  border-left: 1px solid #dadada; }

.bld {
  border-left: 1px solid #ccc; }

.blb {
  border-left: 1px solid #000; }

.bhl {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111; }

.bhm {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada; }

.bhd {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; }

.bhb {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; }

.bvl {
  border-left: 1px solid #111;
  border-right: 1px solid #111; }

.bvm {
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada; }

.bvd {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.bvb {
  border-left: 1px solid #000;
  border-right: 1px solid #000; }
/******************************************
 * Border radius                          *
 * -------------------------------------- *
 * a: all                n: none          *
 * t: top                t: tiny (2px)    *
 * r: right              s: small (5px)   *
 * b: bottom                              *
 * l: left                                *
 ******************************************/
.bran {
  border-radius: 0; }

.brat {
  border-radius: 2px; }

.bras {
  border-radius: 5px; }

.brtn {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.brtt {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.brts {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.brrn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.brrt {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px; }

.brrs {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.brbn {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.brbt {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

.brbs {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.brln {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.brlt {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px; }

.brls {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
/******************************************
 * Margins & Paddings                     *
 * -------------------------------------- *
 * a: all                n: none          *
 * t: top                t: tiny (2px)    *
 * r: right              s: small (5px)   *
 * b: bottom             m: medium (10px) *
 * l: left               l: large (15px)  *
 * h: horizontal         h: huge (20px)   *
 * v: vertical                            *
 ******************************************/
.man {
  margin: 0; }

.mat {
  margin: 2px; }

.mas {
  margin: 15px; }

.mam {
  margin: 30px; }

.mal {
  margin: 60px; }

.mah {
  margin: 90px; }

.mtn {
  margin-top: 0; }

.mtt {
  margin-top: 2px; }

.mts {
  margin-top: 15px; }

.mtm {
  margin-top: 30px; }

.mtl {
  margin-top: 60px; }

.mth {
  margin-top: 90px; }

.mrn {
  margin-right: 0; }

.mrt {
  margin-right: 2px; }

.mrs {
  margin-right: 15px; }

.mrm {
  margin-right: 30px; }

.mrl {
  margin-right: 60px; }

.mrh {
  margin-right: 90px; }

.mbn {
  margin-bottom: 0; }

.mbt {
  margin-bottom: 2px; }

.mbs {
  margin-bottom: 15px; }

.mbm {
  margin-bottom: 30px; }

.mbl {
  margin-bottom: 60px; }

.mbh {
  margin-bottom: 90px; }

.mln {
  margin-left: 0; }

.mlt {
  margin-left: 2px; }

.mls {
  margin-left: 15px; }

.mlm {
  margin-left: 30px; }

.mll {
  margin-left: 60px; }

.mlh {
  margin-left: 90px; }

.mhn {
  margin-left: 0;
  margin-right: 0; }

.mht {
  margin-left: 2px;
  margin-right: 2px; }

.mhs {
  margin-left: 15px;
  margin-right: 15px; }

.mhm {
  margin-left: 30px;
  margin-right: 30px; }

.mhl {
  margin-left: 60px;
  margin-right: 60px; }

.mhh {
  margin-left: 30px;
  margin-right: 90px; }

.mvn {
  margin-top: 0;
  margin-bottom: 0; }

.mvt {
  margin-top: 2px;
  margin-bottom: 2px; }

.mvs {
  margin-top: 15px;
  margin-bottom: 15px; }

.mvm {
  margin-top: 30px;
  margin-bottom: 30px; }

.mvl {
  margin-top: 60px;
  margin-bottom: 60px; }

.mvh {
  margin-top: 30px;
  margin-bottom: 90px; }

.pan {
  padding: 0; }

.pat {
  padding: 2px; }

.pas {
  padding: 15px; }

.pam {
  padding: 30px; }

.pal {
  padding: 60px; }

.pah {
  padding: 90px; }

.ptn {
  padding-top: 0; }

.ptt {
  padding-top: 2px; }

.pts {
  padding-top: 15px; }

.ptm {
  padding-top: 30px; }

.ptl {
  padding-top: 60px; }

.pth {
  padding-top: 90px; }

.prn {
  padding-right: 0; }

.prt {
  padding-right: 2px; }

.prs {
  padding-right: 15px; }

.prm {
  padding-right: 30px; }

.prl {
  padding-right: 60px; }

.prh {
  padding-right: 90px; }

.pbn {
  padding-bottom: 0; }

.pbt {
  padding-bottom: 2px; }

.pbs {
  padding-bottom: 15px; }

.pbm {
  padding-bottom: 30px; }

.pbl {
  padding-bottom: 60px; }

.pbh {
  padding-bottom: 90px; }

.pln {
  padding-left: 0; }

.plt {
  padding-left: 2px; }

.pls {
  padding-left: 15px; }

.plm {
  padding-left: 30px; }

.pll {
  padding-left: 60px; }

.plh {
  padding-left: 90px; }

.phn {
  padding-left: 0;
  padding-right: 0; }

.pht {
  padding-left: 2px;
  padding-right: 2px; }

.phs {
  padding-left: 15px;
  padding-right: 15px; }

.phm {
  padding-left: 30px;
  padding-right: 30px; }

.phl {
  padding-left: 60px;
  padding-right: 60px; }

.phh {
  padding-left: 30px;
  padding-right: 90px; }

.pvn {
  padding-top: 0;
  padding-bottom: 0; }

.pvt {
  padding-top: 2px;
  padding-bottom: 2px; }

.pvs {
  padding-top: 15px;
  padding-bottom: 15px; }

.pvm {
  padding-top: 30px;
  padding-bottom: 30px; }

.pvl {
  padding-top: 60px;
  padding-bottom: 60px; }

.pvh {
  padding-top: 30px;
  padding-bottom: 90px; }

header {
  padding-top: 80px;
  position: relative; }
  header .navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 800;
    height: 80px; }
  header .nav {
    padding: 10px 0 0;
    background: #1a171b;
    min-height: 80px;
    position: relative;
    z-index: 800;
    position: fixed;
    top: 0px;
    width: 100%; }
  header #main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right; }
  header #main-menu .menu-item-home a {
    font-size: 0; }
    header #main-menu .menu-item-home a:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f015";
      font-size: 16px; }
  @media screen and (max-width: 64em) {
    header #main-menu {
      max-height: 0px;
      transition: 0.3s all ease-in-out;
      overflow: hidden;
      width: 100%; }
      header #main-menu.active {
        max-height: 2000px;
        width: 100%; } }
  header #main-menu li {
    display: inline-block; }
    @media screen and (max-width: 64em) {
    header #main-menu li {
      display: block;
      border-bottom: 1px solid #272329; } }
    header #main-menu li.menu-item-has-children {
      position: relative; }
    header #main-menu li.menu-item-has-children:hover ul {
      top: 67px;
      max-height: 1000px; }
    @media screen and (max-width: 64em) {
        header #main-menu li.menu-item-has-children a {
          padding-bottom: 10px; } }
      header #main-menu li.menu-item-has-children a:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: "\f107";
        margin-left: 5px;
        transition: 0.3s all ease-in-out; }
    header #main-menu li.menu-item-has-children ul {
      position: absolute;
      top: 0px;
      left: -15px;
      padding-bottom: 10px;
      min-width: 100%;
      z-index: 10;
      transition: 0.3s all ease-in-out;
      max-height: 0;
      overflow: hidden;
      background: url(../svg/logoback.svg) no-repeat center bottom / 100%; }
      @media screen and (max-width: 64em) {
      header #main-menu li.menu-item-has-children ul {
        position: static;
        max-height: 1000px;
        background: none;
        margin: 0; } }
      header #main-menu li.menu-item-has-children ul li {
        display: block;
        padding-left: 20px; }
        @media screen and (max-width: 64em) {
      header #main-menu li.menu-item-has-children ul li {
        border-bottom: none; } }
        header #main-menu li.menu-item-has-children ul li a {
          white-space: nowrap;
          padding: 5px 20px;
          color: #fff;
          background: none; }
          header #main-menu li.menu-item-has-children ul li a:hover {
            color: #fff; }
            header #main-menu li.menu-item-has-children ul li a:hover:after {
              color: #fff; }
          header #main-menu li.menu-item-has-children ul li a:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            transform: translate(0, 0);
            content: "\f105";
            color: #bf0028; }
    header #main-menu li.current-menu-item a, header #main-menu li.current-post-ancestor a, header #main-menu li.current-page-ancestor a, header #main-menu li.current_page_parent a, header #main-menu li.current_post_parent a {
      text-decoration: none;
      color: #bf0028; }
    header #main-menu li a {
      display: block;
      padding: 17px 20px 27px;
      color: #fff;
      position: relative;
      z-index: 20;
      background: #1a171b;
      text-transform: lowercase; }
    @media screen and (max-width: 64em) {
      header #main-menu li a {
        padding: 20px 20px; } }
    header #main-menu li a:hover {
      text-decoration: none;
      color: #bf0028; }
  header .btn.cartbtn {
    width: 50px;
    height: 60px;
    float: right;
    position: relative;
    margin-left: 10px;
    display: block; }
    header .btn.cartbtn:hover .cartback path {
      fill: #fff !important; }
    header .btn.cartbtn:hover .icon path {
      fill: #bf0028 !important; }
    header .btn.cartbtn .cartback {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 50px;
      height: 60px; }
    header .btn.cartbtn .icon {
      position: absolute;
      top: 18px;
      bottom: 0;
      left: 0;
      right: 5px;
      text-align: center; }
    header .btn.cartbtn .icon svg {
      width: 25px; }
    header .btn.cartbtn .num {
      position: absolute;
      right: -10px;
      top: calc(50% - 10px);
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: #bf0028;
      font-weight: bold;
      font-size: 12px;
      background: #fff;
      border-radius: 50%; }
  header .btn.searchbtn {
    display: block;
    padding: 17px 20px;
    color: #fff;
    float: right;
    width: 55px;
    text-align: center; }
    header .btn.searchbtn:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f002";
      transition: 0.3s all ease-in-out; }
    header .btn.searchbtn:hover:after {
      color: #bf0028; }
    header .btn.searchbtn.activated:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f00d"; }
  header .btn.menubtn {
    display: block;
    padding: 17px 20px;
    color: #fff;
    float: right; }
    header .btn.menubtn:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f0c9";
      transition: 0.3s all ease-in-out; }
    header .btn.menubtn:hover:after {
      color: #bf0028; }
  header .logo {
    position: absolute;
    left: 0.9375rem;
    top: 15px;
    max-width: 220px;
    display: block;
    transition: 0.3s all ease-in-out; }
  @media screen and (max-width: 64em) {
    header .logo {
      top: 5px;
      max-width: 100px;
      overflow: hidden; }
      header .logo svg {
        max-width: 400px !important; }
        header .logo svg path:not(.icon):not(.icon-inner) {
          opacity: 0; } }
  header .logo svg {
    max-width: 220px;
    height: auto;
    transition: 0.3s all ease-in-out; }
    header .logo svg path {
      transition: 0.3s all ease-in-out;
      opacity: 1; }
  header .search {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 700;
    transition: 0.3s all ease-in-out; }
  header .search.active {
    bottom: -100%; }
  header .search .search-form {
    padding: 20px 0;
    width: 350px;
    float: right;
    position: relative; }
    header .search .search-form .search-input-container {
      width: 100%;
      display: inline-block;
      padding-right: 50px; }
    header .search .search-form input {
      padding: 0 15px;
      width: 100%;
      border: none;
      border-radius: 4px 0 0 4px;
      line-height: 50px;
      height: 50px;
      border: 1px solid #e6e6e6;
      border-right: none; }
    header .search .search-form button {
      position: absolute;
      right: 0;
      top: 20px;
      display: block;
      height: 50px;
      width: 50px;
      background: #fff;
      line-height: 50px;
      padding: 0;
      color: #bf0028;
      cursor: pointer;
      border-radius: 0 4px 4px 0;
      border: 1px solid #e6e6e6;
      border-left: none; }
    header .search .search-form button:hover {
      background: #fff;
      color: #bf0028; }
    header .search .search-form button:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: '\f002';
      color: #bf0028;
      height: 50px;
      width: 50px;
      line-height: 50px;
      text-align: center; }
    header .search .search-form button span {
      display: none; }
  header .content-header .slide-content {
    min-height: 675px;
    position: relative; }
    @media screen and (max-width: 40em) {
    header .content-header .slide-content {
      height: 725px; } }
    header .content-header .slide-content:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0.1+100 */
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#1a000000',GradientType=1);
      /* IE6-9 */ }
    header .content-header .slide-content .flex-caption {
      padding: 200px 0;
      color: #fff;
      position: relative;
      z-index: 20; }
    @media screen and (max-width: 40em) {
      header .content-header .slide-content .flex-caption {
        padding: 50px 0; } }
    header .content-header .slide-content .flex-caption h4 {
      font-size: 19px;
      color: #bf0028;
      margin-bottom: 5px;
      font-weight: bold; }
    header .content-header .slide-content .flex-caption h3 {
      font-weight: bold;
      color: #fff;
      font-size: 40px;
      margin-bottom: 20px;
      line-height: 40px; }
    header .content-header .slide-content .flex-caption p {
      margin-bottom: 20px; }
    header .content-header .slide-content .image {
      text-align: center;
      vertical-align: middle;
      position: relative;
      z-index: 20; }
    @media screen and (max-width: 40em) {
      header .content-header .slide-content .image {
        margin-top: 50px; } }
    header .content-header .slide-content .image img {
      display: inline-block; }

.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 40px;
  left: 0px;
  width: 100%;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    margin: 0 5px; }
  .slick-dots li.slick-active button:after {
    background: #bf0028; }
  .slick-dots li button {
    font-size: 0;
    width: 20px;
    height: 20px;
    display: block;
    border: none;
    cursor: pointer; }
    .slick-dots li button:hover:after {
      margin-top: 4px; }
    .slick-dots li button:focus {
      border: none; }
    .slick-dots li button:after {
      content: "";
      width: 20px;
      height: 4px;
      background: #fff;
      border-radius: 3px;
      margin-top: 8px;
      display: block;
      transition: 0.3s all ease-in-out; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  background: none;
  text-decoration: none; }
  .btn:hover {
    text-decoration: none; }
  .btn.arrow:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f061";
    color: #bf0028;
    margin-left: 10px;
    transition: 0.3s all ease-in-out; }
  .btn.redborder {
    border: 2px solid #bf0028;
    color: #fff;
    border-radius: 4px; }
  .btn.redborder:hover {
    color: #fff;
    background: #bf0028; }
    .btn.redborder:hover:after {
      color: #fff; }
  .btn.darktext {
    color: #1a171b; }

*:focus {
  outline: none; }

.row, .relative {
  position: relative; }

body {
  height: 100%;
  background: #fff; }
  body.fixed {
    overflow: hidden; }

p {
  font-size: 16px; }

a, path, button {
  transition: 0.3s all ease-in-out; }

a {
  color: #bf0028;
  text-decoration: none; }
  a:hover {
    color: #1a171b;
    text-decoration: none; }

h2.sectiontitle {
  display: block;
  padding: 70px 0 0;
  margin-bottom: 20px;
  border-top: 1px solid #e6e6e6;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #1a171b; }
  h2.sectiontitle.white {
    color: #fff; }
  h2.sectiontitle.noborder {
    border-top: none;
    padding: 0; }
  h2.sectiontitle.text-left {
    text-align: left; }

h3.subtitle {
  font-size: 20px;
  font-weight: bold; }
  h3.subtitle.white {
    color: #fff; }
  h3.subtitle.red {
    color: #bf0028; }

.center {
  text-align: center; }

.borderdiv {
  border-top: 2px solid #e6e6e6; }

.readmore {
  font-weight: bold;
  position: relative;
  padding: 0 0 0 20px;
  text-transform: none;
  text-decoration: none !important;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  color: #1a171b; }
  .readmore.dark {
    color: #fff; }
  .readmore:hover {
    color: #bf0028; }
  .readmore:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f061";
    color: #bf0028;
    margin-right: 10px;
    position: absolute;
    left: 0px;
    top: 6px; }
  .readmore.back:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f060";
    top: 6px; }
  .readmore:after {
    display: none; }

.singular-header {
  text-align: center;
  margin-bottom: 25px; }
  .singular-header ul {
    list-style: none;
    margin: 0 0 25px;
    padding: 0;
    text-align: center;
    color: #939194;
    font-size: 16px; }
  .singular-header ul li {
    display: inline-block;
    padding-right: 30px;
    position: relative; }
    .singular-header ul li:last-child {
      padding-right: 0; }
    .singular-header ul li:last-child:after {
      display: none; }
    .singular-header ul li:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f111";
      font-size: 4px;
      position: absolute;
      top: 10px;
      right: 13px; }
  .singular-header .singular-image img {
    margin: 5px 0 30px; }

.singular-content {
  position: relative; }
  .singular-content a {
    color: #bf0028; }
  .singular-content a.readmore {
    color: #1a171b; }
    .singular-content a.readmore:hover {
      color: #bf0028; }
  .singular-content a:hover {
    color: #1a171b; }
  .singular-content.simple .gform_wrapper {
    padding: 40px; }
  .singular-content .firstletter {
    position: absolute;
    top: -20px;
    left: -30px;
    font-size: 120px;
    color: #e6e6e6;
    z-index: 10;
    font-weight: bold;
    display: block;
    line-height: 95px; }
  .singular-content .inner {
    position: relative;
    z-index: 20; }
  .singular-content p {
    padding-bottom: 20px;
    margin-bottom: 0; }
  .singular-content p:first-of-type {
    font-weight: bold; }
  .singular-content h4.subtitle {
    font-size: 19px;
    color: #bf0028;
    margin-bottom: 10px;
    font-weight: bold; }
  .singular-content h1 {
    color: #000; }
  .singular-content h1.small {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px; }
  @media screen and (max-width: 64em) {
      .singular-content .inner .gform_wrapper {
        padding: 70px 20px; } }
  .singular-content .gform_wrapper {
    display: block;
    background: #f2f2f2;
    padding: 70px 130px;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08); }
  @media screen and (max-width: 64em) {
    .singular-content .gform_wrapper {
      padding: 70px 0px; } }
  .singular-content .gform_wrapper:after {
    content: "K";
    position: absolute;
    bottom: -20px;
    right: -50px;
    font-size: 300px;
    color: #e6e6e6;
    z-index: 10;
    font-weight: bold;
    display: block;
    width: 210px;
    height: 260px;
    line-height: 230px;
    transform: rotate(-4deg); }
  .singular-content .gform_wrapper form {
    position: relative;
    z-index: 20; }
  .singular-content .gform_wrapper .gform_title {
    font-weight: bold;
    color: #1a171b;
    margin-bottom: 20px; }
  .singular-content .gform_wrapper .gform_description {
    margin-bottom: 20px;
    color: #605e61;
    font-size: 16px;
    display: block; }
  .singular-content .gform_wrapper .validation_error {
    margin-bottom: 10px; }
  .singular-content .gform_wrapper .gfield {
    margin-bottom: 10px; }
    .singular-content .gform_wrapper .gfield:after {
      clear: both;
      display: table;
      content: ""; }
    .singular-content .gform_wrapper .gfield.gfield_error .ginput_container input[type="text"], .singular-content .gform_wrapper .gfield.gfield_error .ginput_container input[type="number"], .singular-content .gform_wrapper .gfield.gfield_error .ginput_container input[type="email"], .singular-content .gform_wrapper .gfield.gfield_error .ginput_container textarea {
      border-top: 2px solid #d9d9d9;
      border-bottom: 2px solid #bf0028; }
    .singular-content .gform_wrapper .gfield label {
      display: block;
      float: left;
      width: 30%;
      font-weight: bold;
      font-size: 16px; }
    @media screen and (max-width: 64em) {
      .singular-content .gform_wrapper .gfield label {
        width: 100%;
        float: none;
        text-align: left; } }
    .singular-content .gform_wrapper .gfield label .gfield_required {
      color: #bf0028;
      margin-left: 5px; }
    .singular-content .gform_wrapper .gfield .ginput_container {
      float: right;
      width: 70%;
      display: block; }
    @media screen and (max-width: 64em) {
      .singular-content .gform_wrapper .gfield .ginput_container {
        width: 100%;
        float: none; } }
    .singular-content .gform_wrapper .gfield .ginput_container input[type="text"], .singular-content .gform_wrapper .gfield .ginput_container input[type="number"], .singular-content .gform_wrapper .gfield .ginput_container input[type="email"], .singular-content .gform_wrapper .gfield .ginput_container textarea {
      min-width: 0;
      background: #fff;
      border-radius: 5px;
      border: none;
      border-top: 2px solid #d9d9d9;
      width: 100%;
      color: #1a171b; }
    .singular-content .gform_wrapper .gfield .validation_message {
      display: block;
      width: 100%;
      text-align: left;
      margin-left: 30%;
      font-size: 16px; }
    @media screen and (max-width: 64em) {
      .singular-content .gform_wrapper .gfield .validation_message {
        width: 100%;
        float: none;
        margin-left: 0; } }
    .singular-content .gform_wrapper .gfield .validation_message:before {
      clear: both;
      display: table;
      content: ""; }
  .singular-content .gform_wrapper button {
    position: static;
    background: #f2f2f2;
    color: #1a171b;
    min-width: 0;
    width: auto;
    padding: 15px 55px 15px 25px;
    border-radius: 4px;
    border: 2px solid #bf0028;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    margin-left: 30%; }
    .singular-content .gform_wrapper button:hover {
      background: #bf0028;
      color: #fff; }
    .singular-content .gform_wrapper button:hover:after {
      color: #fff; }
    .singular-content .gform_wrapper button:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f061";
      color: #bf0028;
      margin-left: 10px;
      transition: 0.3s all ease-in-out;
      position: absolute;
      top: 15px;
      right: 20px; }

.singular-footer {
  text-align: center;
  padding: 30px 0 30px 0; }
  .singular-footer .readmore {
    display: inline-block; }

.homecontent {
  padding: 50px 0;
  margin-top: 30px;
  position: relative; }
  @media screen and (max-width: 64em) {
  .homecontent {
    padding: 50px 0 0; } }
  .homecontent .singular-content {
    padding-right: 50px; }
  .homecontent .singular-content .inner {
    max-width: 480px; }
    .homecontent .singular-content .inner p {
      font-weight: normal; }
  .homecontent .singular-content .firstletter {
    width: 210px;
    height: 260px;
    background: url(../img/bigK.png) no-repeat center center;
    font-size: 0; }
  .homecontent > .row {
    z-index: 20; }
  .homecontent .videoimage {
    z-index: 10;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0; }
  .homecontent .videoimage.full {
    left: 0; }
  .homecontent .videoimage:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0.1+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#1a000000',GradientType=1);
    /* IE6-9 */ }
  .homecontent .videobtn {
    position: absolute;
    left: -65px;
    top: calc(50% - 55px);
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    background: #bf0028;
    border-radius: 50%;
    transition: 0.3s all ease-in-out; }
  @media screen and (max-width: 64em) {
    .homecontent .videobtn {
      left: 20px; } }
  .homecontent .videobtn:hover {
    color: #fff;
    background: #1a171b; }
    .homecontent .videobtn:hover:after {
      color: #fff; }
  .homecontent .videobtn:after {
    width: 100px;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f04b";
    font-size: 36px;
    line-height: 100px;
    color: #fff; }
  .homecontent .videotext {
    margin-top: 70px;
    padding: 30px 30px 30px 100px;
    position: relative;
    z-index: 20;
    transition: 0.3s all ease-in-out; }
  @media screen and (max-width: 64em) {
    .homecontent .videotext {
      padding: 100px 0 100px 150px;
      margin: 0; } }
  .homecontent .videotext h4 {
    font-size: 19px;
    color: #bf0028;
    margin-bottom: 5px;
    font-weight: bold; }
  .homecontent .videotext h3 {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 30px; }

#videopopup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease-in-out;
  padding: 100px; }
  #videopopup.active {
    opacity: 1;
    pointer-events: auto; }
  #videopopup iframe {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #videopopup .closebtn {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    background: none;
    text-decoration: none;
    border: 2px solid #bf0028;
    color: #fff;
    border-radius: 4px;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1200; }
  #videopopup .closebtn:hover {
    background: #bf0028;
    text-decoration: none; }
    #videopopup .closebtn:hover:after {
      color: #fff; }
  #videopopup .closebtn:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f00d";
    color: #bf0028;
    margin-left: 10px;
    transition: 0.3s all ease-in-out; }

.soon-news {
  background: #1a171b;
  overflow: hidden; }
  .soon-news.pre-footer {
    background: #2c2a2f; }
  .soon-news h4 {
    font-size: 19px;
    color: #bf0028;
    margin-bottom: 10px;
    font-weight: bold; }
  .soon-news h3 {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px; }
  .soon-news p {
    color: #939194;
    font-size: 16px; }
  .soon-news .content-soonorder {
    display: flex;
    flex-flow: row wrap; }
  .soon-news .content-soonorder .slide-content {
    padding: 90px 0; }
  @media screen and (max-width: 40em) {
        .soon-news .content-soonorder .widget-slide-simple.pll {
          padding-left: 0; } }
  .soon-news .content-soon {
    padding: 90px 0; }
  .soon-news .content-soon, .soon-news .content-soonorder {
    color: #fff; }
  .soon-news .content-soon .image, .soon-news .content-soonorder .image {
    display: block;
    text-align: center; }
    @media screen and (max-width: 40em) {
    .soon-news .content-soon .image, .soon-news .content-soonorder .image {
      margin-bottom: 20px; } }
    .soon-news .content-soon .image img, .soon-news .content-soonorder .image img {
      display: inline-block; }
  .soon-news .content-soon .tag, .soon-news .content-soonorder .tag {
    position: absolute;
    width: 100px;
    height: 130px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .soon-news .content-soon .tag .cartback, .soon-news .content-soonorder .tag .cartback {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100px;
      height: 130px;
      z-index: 10; }
    .soon-news .content-soon .tag span, .soon-news .content-soonorder .tag span {
      position: relative;
      z-index: 20;
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 24px;
      text-align: left;
      padding-left: 6px; }
  .soon-news .content-news {
    padding: 90px 0 90px 100px; }
  @media screen and (max-width: 64em) {
    .soon-news .content-news {
      padding: 60px 20px; } }
  .soon-news .content-news .entry-content {
    padding: 0 0 0 100px;
    position: relative; }
    .soon-news .content-news .entry-content .entry-meta {
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid #939194;
      padding: 15px 13px 10px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: bold;
      font-size: 16px;
      text-align: center; }
    .soon-news .content-news .entry-content .entry-meta span {
      display: block;
      color: #fff; }
    .soon-news .content-news .entry-content .entry-meta .day {
      font-size: 32px; }
  .soon-news .content-news h3 a {
    color: #fff;
    font-weight: bold;
    font-size: 26px; }
    .soon-news .content-news h3 a:hover {
      text-decoration: none;
      color: #bf0028; }
  .soon-news .greybg {
    background: #2d2a2e; }
  .soon-news .greybg.greyer {
    background: #363437; }
    .soon-news .greybg.greyer:after {
      background: #363437; }
  .soon-news .greybg:after {
    content: "";
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #2d2a2e; }

.usps .uspinner {
  border-top: 2px solid #e6e6e6; }
  .usps .content-usps {
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap; }
  .usps .content-usps .box {
    position: relative;
    padding: 0 0 0 50px; }
    @media screen and (max-width: 64em) {
    .usps .content-usps .box {
      margin-bottom: 20px; } }
    .usps .content-usps .box .entry-icon {
      position: absolute;
      top: 5px;
      left: 0;
      color: #bf0028;
      font-size: 28px;
      font-weight: bold;
      width: 40px;
      text-align: center; }
    .usps .content-usps .box .entry h3 {
      font-weight: bold;
      color: #1a171b;
      padding: 5px 0px 5px; }
    .usps .content-usps .box .entry p {
      color: #605e61;
      font-size: 16px;
      margin: 0; }

.available {
  padding: 0; }

.woocommerce .quantity .qty {
  border: 2px solid #e6e6e6;
  height: 30px;
  line-height: 30px;
  border-radius: 4px; }
  .woocommerce .products .product {
    position: relative; }
    .woocommerce .products .product:hover .woocommerce-LoopProduct-link {
      border: 2px solid #e6e6e6; }
      .woocommerce .products .product:hover .woocommerce-LoopProduct-link + .ajax_add_to_cart {
        opacity: 1; }
      .woocommerce .products .product:hover .woocommerce-LoopProduct-link h2 {
        color: #bf0028;
        transition: 0.3s all ease-in-out; }
    .woocommerce .products .product .woocommerce-LoopProduct-link {
      text-align: center;
      display: block;
      border: 2px solid #fff;
      border-radius: 4px;
      padding-bottom: 50px;
      transition: 0.3s all ease-in-out; }
    .woocommerce .products .product .woocommerce-LoopProduct-link h2 {
      font-size: 20px;
      font-weight: bold;
      color: #1a171b;
      margin-bottom: 5px; }
    .woocommerce .products .product .woocommerce-LoopProduct-link .price {
      color: #bf0028;
      font-weight: normal; }
    .woocommerce .products .product .ajax_add_to_cart {
      position: absolute;
      bottom: 2px;
      right: 2px;
      color: #bf0028;
      background: none;
      border-top: 2px solid #e6e6e6;
      border-left: 2px solid #e6e6e6;
      height: 45px;
      line-height: 45px;
      padding: 0 45px 0 0;
      margin: 0;
      opacity: 0;
      transition: 0.3s all ease-in-out; }
    .woocommerce .products .product .ajax_add_to_cart:hover span {
      max-width: 300px;
      padding-left: 20px; }
    .woocommerce .products .product .ajax_add_to_cart:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f061";
      width: 45px;
      height: 43px;
      text-align: center;
      line-height: 43px;
      background: #fff;
      position: absolute;
      right: 0;
      top: 0; }
    .woocommerce .products .product .ajax_add_to_cart span {
      padding-left: 0px;
      max-width: 0px;
      overflow: hidden;
      display: block;
      transition: 0.3s all ease-in-out; }
  .woocommerce .woocommerce-pagination {
    margin-bottom: 60px; }
  .woocommerce .woocommerce-pagination .page-numbers {
    border: none;
    margin: 0; }
    .woocommerce .woocommerce-pagination .page-numbers li {
      border: none;
      background: none;
      overflow: visible; }
    .woocommerce .woocommerce-pagination .page-numbers li span, .woocommerce .woocommerce-pagination .page-numbers li a {
      margin-left: -2px;
      width: 45px;
      height: 45px;
      background: #fff;
      border: 2px solid #e6e6e6;
      line-height: 41px;
      border-radius: 4px;
      text-align: center;
      display: block;
      color: #1a171b;
      transition: 0.3s all ease-in-out;
      font-weight: bold;
      padding: 0;
      box-sizing: border-box; }
      .woocommerce .woocommerce-pagination .page-numbers li span:hover, .woocommerce .woocommerce-pagination .page-numbers li a:hover {
        background: #fff;
        color: #bf0028; }
      .woocommerce .woocommerce-pagination .page-numbers li span.current, .woocommerce .woocommerce-pagination .page-numbers li a.current {
        background: #fff;
        color: #bf0028; }
      .woocommerce .woocommerce-pagination .page-numbers li span.next, .woocommerce .woocommerce-pagination .page-numbers li a.next {
        border: none;
        margin-left: 0;
        font-size: 0;
        line-height: 44px; }
        .woocommerce .woocommerce-pagination .page-numbers li span.next:hover, .woocommerce .woocommerce-pagination .page-numbers li a.next:hover {
          padding-left: 5px; }
        .woocommerce .woocommerce-pagination .page-numbers li span.next:after, .woocommerce .woocommerce-pagination .page-numbers li a.next:after {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          content: "\f061";
          color: #bf0028;
          font-size: 16px;
          line-height: 40px; }
      .woocommerce .woocommerce-pagination .page-numbers li span.prev, .woocommerce .woocommerce-pagination .page-numbers li a.prev {
        border: none;
        margin-left: 0;
        font-size: 0;
        line-height: 44px; }
        .woocommerce .woocommerce-pagination .page-numbers li span.prev:hover, .woocommerce .woocommerce-pagination .page-numbers li a.prev:hover {
          padding-right: 5px; }
        .woocommerce .woocommerce-pagination .page-numbers li span.prev:after, .woocommerce .woocommerce-pagination .page-numbers li a.prev:after {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          content: "\f060";
          color: #bf0028;
          font-size: 16px;
          line-height: 40px; }
  .woocommerce .woocommerce-result-count, .woocommerce .woocommerce-ordering {
    display: none; }
  .woocommerce .product .summary .woocommerce-product-details__short-description p {
    font-weight: bold;
    font-size: 19px;
    line-height: 26px; }
    .woocommerce .product .summary .attributes, .woocommerce .product .summary .product_meta {
      list-style: none;
      padding: 10px 0 0;
      margin: 0; }
    .woocommerce .product .summary .attributes label, .woocommerce .product .summary .product_meta label {
      color: #1a171b;
      text-transform: uppercase;
      font-weight: bold;
      width: 110px;
      display: inline-block;
      font-size: 16px; }
    .woocommerce .product .summary .attributes .value, .woocommerce .product .summary .product_meta .value {
      font-size: 16px;
      color: #4d4d4d; }
    .woocommerce .product .summary .product_meta {
      padding: 0 0 30px; }
    .woocommerce .product .summary .prod_usp ul {
      list-style: none;
      margin: 20px 0 0;
      text-align: center; }
      .woocommerce .product .summary .prod_usp ul li {
        display: inline-block;
        padding: 10px 30px 10px 25px;
        position: relative;
        font-size: 16px;
        color: #4d4d4d; }
        .woocommerce .product .summary .prod_usp ul li:before {
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          content: "\f058";
          color: #bf0028;
          position: absolute;
          top: 14px;
          left: 0px; }
  .woocommerce .product .greyblock {
    padding: 30px;
    background: #f2f2f2;
    position: relative; }
    @media screen and (max-width: 64em) {
    .woocommerce .product .greyblock {
      margin-top: 20px; } }
    .woocommerce .product .greyblock:after {
      clear: both;
      display: table;
      content: ""; }
    .woocommerce .product .greyblock .price {
      font-size: 36px;
      color: #bf0028;
      font-weight: bold;
      float: left;
      line-height: 50px;
      margin: 0; }
    @media screen and (max-width: 64em) {
      .woocommerce .product .greyblock .price {
        margin: 0 0 20px 0;
        font-size: 36px;
        text-align: center;
        float: none;
        display: block; } }
    .woocommerce .product .greyblock .price .woocommerce-Price-currencySymbol {
      margin-right: 10px; }
    .woocommerce .product .greyblock .cart {
      float: right;
      margin: 0; }
    .woocommerce .product .greyblock .cart .qty {
      border: 2px solid #939194;
      height: 50px;
      line-height: 50px;
      border-radius: 4px; }
    .woocommerce .product .greyblock .prodlabel {
      position: absolute;
      top: -36px;
      right: 0;
      height: 36px;
      line-height: 36px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 0 15px;
      border-radius: 4px 4px 0 0; }
    .woocommerce .product .greyblock .prodlabel.preorder {
      background: #bf0028;
      color: #fff; }
    .woocommerce .product .greyblock .prodlabel.reprint {
      background: #1a171b;
      color: #fff; }
  .woocommerce .product .woocommerce-product-gallery {
    max-height: 450px;
    text-align: center; }
    .woocommerce .product .woocommerce-product-gallery .woocommerce-product-gallery__image {
      text-align: center; }
    .woocommerce .product .woocommerce-product-gallery .woocommerce-product-gallery__image a {
      display: inline-block; }
    .woocommerce .product .woocommerce-product-gallery img {
      max-height: 450px;
      width: auto !important; }
  .woocommerce .woocommerce-cart-form input[type="text"] {
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    min-width: 150px; }
  .woocommerce .shop_table {
    border: 2px solid #e6e6e6 !important; }
  @media screen and (max-width: 64em) {
    .woocommerce .shop_table {
      border-radius: 0 0 4px 4px; } }
  .woocommerce .shop_table.cart {
    border: none !important; }
  .woocommerce .shop_table.woocommerce-checkout-review-order-table thead tr th {
    border: none !important;
    border-bottom: 2px solid #e6e6e6 !important; }
    .woocommerce .shop_table.woocommerce-checkout-review-order-table thead tr th:first-child {
      border: none !important;
      border-bottom: 2px solid #e6e6e6 !important; }
    .woocommerce .shop_table.woocommerce-checkout-review-order-table thead tr th:last-child {
      border: none !important;
      border-bottom: 2px solid #e6e6e6 !important; }
    .woocommerce .shop_table.woocommerce-checkout-review-order-table tr.cart_item td {
      border: none !important;
      border-bottom: 2px solid #e6e6e6 !important; }
    .woocommerce .shop_table.woocommerce-checkout-review-order-table tr.cart_item td:first-child {
      border: none !important;
      border-bottom: 2px solid #e6e6e6 !important; }
    .woocommerce .shop_table.woocommerce-checkout-review-order-table tr.cart_item td:last-child {
      border: none !important;
      border-bottom: 2px solid #e6e6e6 !important; }
  .woocommerce .shop_table tr.cart-subtotal th, .woocommerce .shop_table tr.cart-subtotal td {
    border-top: none !important; }
  .woocommerce .shop_table thead tr th:first-child {
    border-left: 2px solid #e6e6e6 !important;
    border-radius: 4px 0 0 0; }
    .woocommerce .shop_table thead tr th:last-child {
      border-right: 2px solid #e6e6e6 !important;
      border-radius: 0 4px 0 0; }
  @media screen and (max-width: 64em) {
          .woocommerce .shop_table tr.cart_item td {
            border-left: 2px solid #e6e6e6 !important;
            border-right: 2px solid #e6e6e6 !important; } }
    .woocommerce .shop_table tr.cart_item td:first-child {
      border-left: 2px solid #e6e6e6 !important; }
    @media screen and (max-width: 64em) {
          .woocommerce .shop_table tr.cart_item td:first-child {
            border-radius: 4px 4px 0 0; } }
    .woocommerce .shop_table tr.cart_item td:last-child {
      border-right: 2px solid #e6e6e6 !important; }
    @media screen and (max-width: 64em) {
          .woocommerce .shop_table tr.cart_item td:last-child {
            border-radius: 0 0 4px 4px; } }
    .woocommerce .shop_table tr.cart_item:last-child td:first-child {
      border-radius: 0 0 0 4px; }
    .woocommerce .shop_table tr.cart_item:last-child td:last-child {
      border-radius: 0 0 4px 0; }
  .woocommerce .shop_table th, .woocommerce .shop_table td {
    border-top: 2px solid #e6e6e6 !important; }
  .woocommerce .shop_table .actions {
    padding: 10px 0; }
    .woocommerce .shop_table .actions .button {
      border: 2px solid #bf0028;
      border-radius: 4px;
      padding: 15px 25px 15px 25px !important;
      font-weight: bold;
      background: transparent !important;
      color: #1a171b !important;
      position: relative; }
    .woocommerce .shop_table .actions .button:hover {
      background: #bf0028 !important;
      color: #fff !important; }
    .woocommerce .shop_table .actions .button:hover:after {
      color: #fff; }
  .woocommerce .cart_totals {
    margin-top: 40px;
    float: none !important;
    width: 100% !important; }
  .woocommerce .cart_totals:after {
    clear: both;
    display: table;
    content: ""; }
  .woocommerce .cart_totals h2 {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #1a171b;
    border-top: none;
    padding: 0; }
  .woocommerce .cart_totals .shop_table {
    width: 48%;
    float: left; }
    @media screen and (max-width: 64em) {
    .woocommerce .cart_totals .shop_table {
      float: none;
      width: 100%; } }
  .woocommerce .cart_totals .wc-proceed-to-checkout {
    width: 48%;
    float: right;
    padding-top: 30px; }
    @media screen and (max-width: 64em) {
    .woocommerce .cart_totals .wc-proceed-to-checkout {
      float: none;
      width: 100%; } }
  .woocommerce button.button.alt, .woocommerce .checkout-button.button.alt {
    border: 2px solid #bf0028;
    border-radius: 4px;
    padding: 15px 55px 15px 25px;
    font-weight: bold;
    background: transparent !important;
    color: #1a171b !important;
    position: relative; }
    .woocommerce button.button.alt:hover, .woocommerce .checkout-button.button.alt:hover {
      background: #bf0028 !important;
      color: #fff !important; }
    .woocommerce button.button.alt:hover:after, .woocommerce .checkout-button.button.alt:hover:after {
      color: #fff; }
    .woocommerce button.button.alt:after, .woocommerce .checkout-button.button.alt:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f061";
      color: #bf0028;
      position: absolute;
      top: 14px;
      right: 25px; }
  .woocommerce a.button.wc-backward {
    border: 2px solid #bf0028 !important;
    border-radius: 4px !important;
    font-weight: bold !important;
    background: transparent !important;
    color: #1a171b !important;
    position: relative !important;
    padding: 15px 25px 15px 55px !important; }
    .woocommerce a.button.wc-backward:hover {
      background: #bf0028 !important;
      color: #fff !important; }
    .woocommerce a.button.wc-backward:hover:after {
      color: #fff !important; }
    .woocommerce a.button.wc-backward:hover:before {
      color: #fff !important; }
    .woocommerce a.button.wc-backward:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f060";
      color: #bf0028;
      position: absolute;
      top: 14px;
      left: 25px; }
  .woocommerce .out-of-stock {
    display: none; }
  .woocommerce .wc_gallery .pageslider {
    margin: 20px 0 0; }
  @media screen and (max-width: 40em) {
      .woocommerce .woocommerce-checkout .form-row-first, .woocommerce .woocommerce-checkout .form-row-last {
        width: 100%; } }
  .woocommerce .woocommerce-checkout .formblock {
    padding: 40px;
    background: #f2f2f2;
    border-radius: 4px; }
    @media screen and (max-width: 64em) {
    .woocommerce .woocommerce-checkout .formblock {
      margin-bottom: 30px;
      padding: 20px; } }
    .woocommerce .woocommerce-checkout .formblock input[type="text"], .woocommerce .woocommerce-checkout .formblock input[type="number"], .woocommerce .woocommerce-checkout .formblock input[type="phone"], .woocommerce .woocommerce-checkout .formblock input[type="tel"], .woocommerce .woocommerce-checkout .formblock input[type="email"], .woocommerce .woocommerce-checkout .formblock textarea, .woocommerce .woocommerce-checkout .formblock select {
      min-width: 0;
      background: #fff;
      border-radius: 5px;
      border: none;
      border-top: 2px solid #d9d9d9;
      width: 100%;
      color: #1a171b;
      padding: 10px; }
    .woocommerce .woocommerce-checkout .formblock .select2.select2-container--open .select2-selection--single {
      border-left: 2px solid #d9d9d9;
      border-right: 2px solid #d9d9d9;
      border-radius: 5px 5px 0 0; }
    .woocommerce .woocommerce-checkout .formblock .select2 .select2-selection--single {
      border-radius: 5px;
      border: none;
      border-top: 2px solid #d9d9d9;
      background: #fff;
      height: 40px; }
    .woocommerce .woocommerce-checkout .formblock .select2 .select2-selection--single span {
      padding: 5px 14px; }
    .woocommerce .woocommerce-checkout .formblock .select2 .select2-selection--single span.select2-selection__arrow {
      padding: 20px; }
    .woocommerce .woocommerce-checkout .formblock label {
      display: block;
      font-weight: bold;
      font-size: 16px; }
  .woocommerce .woocommerce-checkout #payment {
    background: none; }
    .woocommerce .woocommerce-checkout #payment ul.payment_methods {
      background: #f2f2f2;
      border-radius: 4px;
      border-bottom: none; }
  .woocommerce .woocommerce-checkout .place-order {
    padding: 20px 0; }
  .woocommerce .woocommerce-order h2 {
    display: block;
    padding: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #1a171b; }
  .woocommerce .woocommerce-order .woocommerce-order-overview.order_details {
    border: 2px solid #bf0028;
    border-radius: 4px; }
    .woocommerce .woocommerce-order .woocommerce-order-overview.order_details li {
      text-transform: none;
      font-size: 1em;
      padding: 10px 20px;
      margin: 0;
      width: 25%; }
    @media screen and (max-width: 40em) {
        .woocommerce .woocommerce-order .woocommerce-order-overview.order_details li {
          width: 100%; } }
  .woocommerce .woocommerce-order .woocommerce-order-details {
    margin: 20px 0; }
    .woocommerce .woocommerce-order .woocommerce-order-details .order_details thead tr:first-child th, .woocommerce .woocommerce-order .woocommerce-order-details .order_details thead tr:first-child td {
      border-top: none !important;
      border-left: none !important;
      border-right: none !important; }
    .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-customer-details .woocommerce-table--customer-details tr:first-child th, .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-customer-details .woocommerce-table--customer-details tr:first-child td {
      border-top: none !important; }
  .woocommerce .payment_box select {
    min-width: 0;
    background: #fff;
    border-radius: 5px;
    border: none;
    border-top: 2px solid #d9d9d9;
    width: 100%;
    color: #1a171b;
    padding: 10px; }

.select2-dropdown {
  border: 2px solid #d9d9d9 !important;
  border-top: none !important; }

.woocommerce_widgets {
  margin-right: 30px;
  padding: 40px;
  border: 2px solid #e6e6e6;
  border-radius: 4px; }
  @media screen and (max-width: 64em) {
  .woocommerce_widgets {
    margin: 0 0 30px 0; } }
  .woocommerce_widgets .widget {
    margin-bottom: 20px;
    font-size: 16px; }
  .woocommerce_widgets .widget:last-child {
    margin-bottom: 0; }
  .woocommerce_widgets .widget .widget-title {
    color: #1a171b;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px; }
  .woocommerce_widgets .widget .count {
    float: right;
    font-size: 12px;
    color: #2d2a2e; }
  .woocommerce_widgets .widget.widget_layered_nav ul li.chosen a:before {
    background: #bf0028;
    color: #fff;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f00c";
    line-height: 12px;
    font-size: 12px;
    margin: 0; }
  .woocommerce_widgets .widget ul {
    list-style: none;
    margin: 0; }
    .woocommerce_widgets .widget ul li a {
      position: relative;
      padding-left: 30px !important;
      color: #1a171b; }
    .woocommerce_widgets .widget ul li a:hover {
      color: #bf0028; }
    .woocommerce_widgets .widget ul li a:before {
      position: absolute;
      top: 5px;
      left: 0;
      content: "";
      color: #bf0028;
      border: 2px solid #bf0028;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      border-radius: 4px; }

.also {
  padding: 0 0 90px 0; }
  @media screen and (max-width: 64em) {
    .also .sectiontitle {
      margin-bottom: 60px; } }
  .also .tag {
    position: absolute;
    width: 80px;
    height: 95px;
    padding: 0 12px;
    align-items: center;
    justify-content: center;
    top: -25px;
    left: calc(50% - 40px); }
  .also .tag .cartback {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80px;
    height: 95px;
    z-index: 10; }
  .also .tag span {
    position: relative;
    z-index: 20;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    padding-top: 18px;
    color: #fff;
    text-align: center; }
  .also .tag strong {
    display: block;
    font-size: 40px;
    line-height: 30px; }
  .also .content-top3 {
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    padding-bottom: 40px;
    text-align: center; }
  .also .content-top3 .position {
    text-align: center; }
    .also .content-top3 .position span {
      background: #bf0028;
      color: #fff;
      font-weight: bold;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 29px;
      display: inline-block; }
  .also .content-top3 h3 {
    font-size: 16px;
    font-weight: bold;
    color: #1a171b;
    margin: 15px 0 0;
    transition: 0.3s all ease-in-out; }
  .also .content-top3 .slide-content:hover {
    text-decoration: none; }
    .also .content-top3 .slide-content:hover h3 {
      color: #bf0028; }
    .also .content-top3 .slide-content img {
      display: inline-block; }
  .also .content-top3 .slick-dots {
    bottom: -7px; }
    .also .content-top3 .slick-dots li {
      background: #fff;
      margin: 0;
      padding: 0 5px; }
    .also .content-top3 .slick-dots li:first-child {
      padding-left: 20px; }
    .also .content-top3 .slick-dots li:last-child {
      padding-right: 20px; }
    .also .content-top3 .slick-dots li.slick-active button:after {
      background: #bf0028; }
    .also .content-top3 .slick-dots li button:after {
      background: #555356; }

.footer {
  background: #1a171b;
  position: relative; }
  .footer .subtitle {
    padding-bottom: 15px; }
  .footer:before {
    content: "";
    width: 60px;
    height: 70px;
    background: url(../svg/logo-kick_icon.svg) no-repeat center center / cover;
    position: absolute;
    left: calc(50% - 30px);
    top: -35px; }
  .footer .newsletter {
    padding: 100px 0 90px; }
  @media screen and (max-width: 40em) {
    .footer .newsletter {
      padding-bottom: 40px; } }
  .footer .newsletter p {
    padding: 20px 0 0;
    width: 100%; }
    .footer .newsletter p.white {
      color: #939194; }
  .footer .newsletter .gform_confirmation_message {
    padding: 10px 20px 10px 40px;
    position: relative;
    background: #2f701f;
    color: #fff;
    font-size: 16px;
    width: auto;
    float: right;
    min-width: 300px; }
  .footer .newsletter .gform_wrapper {
    float: right; }
    @media screen and (max-width: 64em) {
    .footer .newsletter .gform_wrapper {
      float: none; } }
    .footer .newsletter .gform_wrapper .gform_footer {
      display: none; }
    .footer .newsletter .gform_wrapper .gfield_visibility_ {
      display: none; }
    .footer .newsletter .gform_wrapper .validation_error {
      padding: 10px 20px 10px 40px;
      position: relative;
      background: #474249;
      color: #fff;
      font-size: 16px;
      display: none; }
    .footer .newsletter .gform_wrapper .validation_error:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f06a";
      color: #bf0028;
      position: absolute;
      top: 17px;
      left: 20px;
      border-radius: 50%;
      background: #fff;
      line-height: 12px;
      width: 13px;
      font-size: 16px; }
    .footer .newsletter .gform_wrapper .validation_message {
      color: #bf0028; }
    .footer .newsletter .gform_wrapper label {
      display: none; }
    .footer .newsletter .gform_wrapper input {
      min-width: 400px;
      width: 100%;
      padding: 10px;
      background: #2d2a2e;
      color: #fff;
      border: none; }
    @media screen and (max-width: 64em) {
      .footer .newsletter .gform_wrapper input {
        min-width: 100%; } }
    .footer .newsletter .gform_wrapper input::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #777; }
    .footer .newsletter .gform_wrapper input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #777;
      opacity: 1; }
    .footer .newsletter .gform_wrapper input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #777;
      opacity: 1; }
    .footer .newsletter .gform_wrapper input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #777; }
    .footer .newsletter .gform_wrapper input::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #777; }
    .footer .newsletter .gform_wrapper button {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer; }
    .footer .newsletter .gform_wrapper button:hover i {
      color: #bf0028; }
    .footer .newsletter .gform_wrapper button i {
      width: 66px;
      height: 46px;
      line-height: 46px;
      color: #fff;
      text-align: center;
      transition: 0.3s all ease-in-out; }
  .footer .newsletter .social-network {
    list-style: none;
    margin: 0; }
    @media screen and (max-width: 40em) {
    .footer .newsletter .social-network {
      text-align: center;
      margin-top: 20px; } }
    .footer .newsletter .social-network li {
      display: inline-block; }
    .footer .newsletter .social-network li a {
      display: block;
      width: 46px;
      height: 46px;
      margin-right: 15px;
      border: 2px solid #2d2a2e;
      color: #fff;
      line-height: 46px;
      text-align: center;
      font-size: 22px;
      border-radius: 4px; }
    .footer .newsletter .social-network li a:hover {
      border-color: #bf0028; }
  .footer .mainfooter {
    padding: 65px 0 50px;
    background: #2d2a2e;
    color: #939194;
    font-size: 16px; }
  .footer .mainfooter a {
    color: #fff;
    text-decoration: none; }
    .footer .mainfooter a:hover {
      text-decoration: none;
      color: #bf0028; }
  .footer .mainfooter .logos {
    text-align: right; }
    @media screen and (max-width: 64em) {
    .footer .mainfooter .logos {
      text-align: center;
      margin-top: 40px; } }
    .footer .mainfooter .logos ul {
      list-style: none;
      display: inline-block;
      margin: 0; }
    .footer .mainfooter .logos ul li {
      display: inline-block;
      margin: 0 0 0 20px; }
    @media screen and (max-width: 64em) {
        .footer .mainfooter .logos ul li {
          margin: 0 10px 10px 10px; } }
    .footer .mainfooter .logos ul li img {
      height: 40px;
      width: auto; }
  .footer .mainfooter .footernav {
    margin-top: 65px; }
    @media screen and (max-width: 64em) {
    .footer .mainfooter .footernav {
      margin-top: 20px; } }
    .footer .mainfooter .footernav #footer-menu {
      list-style: none;
      text-align: right;
      margin: 0 0 5px; }
    @media screen and (max-width: 64em) {
      .footer .mainfooter .footernav #footer-menu {
        text-align: center; } }
    .footer .mainfooter .footernav #footer-menu li {
      display: inline-block;
      margin: 0 0 0 20px; }
    @media screen and (max-width: 64em) {
        .footer .mainfooter .footernav #footer-menu li {
          margin: 0 10px 0 10px; } }
    .footer .mainfooter .footernav #footer-menu li a {
      font-size: 14px; }
    .footer .mainfooter .footernav .copyright {
      text-align: right;
      font-size: 14px; }
    @media screen and (max-width: 64em) {
      .footer .mainfooter .footernav .copyright {
        text-align: center; } }
  .footer .mainfooter .service-list {
    list-style: none;
    margin: 0; }
    .footer .mainfooter .service-list li {
      padding: 0 0 5px 30px;
      position: relative; }
    .footer .mainfooter .service-list li:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f061";
      color: #bf0028;
      position: absolute;
      top: 3px;
      left: 0; }
  .footer .mainfooter .contact-list {
    list-style: none;
    margin: 0; }
    @media screen and (max-width: 40em) {
    .footer .mainfooter .contact-list {
      margin-bottom: 30px; } }
    .footer .mainfooter .contact-list li {
      padding: 0 0 5px 30px;
      position: relative;
      color: #fff;
      font-weight: bold; }
    .footer .mainfooter .contact-list li:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f095";
      color: #bf0028;
      position: absolute;
      top: 3px;
      left: 0; }
    .footer .mainfooter .contact-list li.email:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f0e0"; }
    .footer .mainfooter .contact-list li.address {
      font-weight: normal;
      color: #939194; }
    .footer .mainfooter .contact-list li.address:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f041"; }

.gform_wrapper .gform_fields {
  list-style: none;
  margin: 0;
  position: relative; }
  .gform_wrapper .gfield_visibility_ {
    display: none; }
  .gform_wrapper .validation_error {
    padding: 10px 20px 10px 40px;
    position: relative;
    background: #474249;
    color: #fff;
    font-size: 16px; }
  .gform_wrapper .validation_error:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f06a";
    color: #bf0028;
    position: absolute;
    top: 17px;
    left: 20px;
    border-radius: 50%;
    background: #fff;
    line-height: 12px;
    width: 13px;
    font-size: 16px; }
  .gform_wrapper .validation_message {
    color: #bf0028; }
  .gform_wrapper label {
    display: none; }
  .gform_wrapper input {
    min-width: 400px;
    width: 100%;
    padding: 10px;
    background: #2d2a2e;
    color: #fff;
    border: none; }
  .gform_wrapper input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777; }
  .gform_wrapper input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777;
    opacity: 1; }
  .gform_wrapper input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777;
    opacity: 1; }
  .gform_wrapper input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777; }
  .gform_wrapper input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777; }
  .gform_wrapper button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }
  .gform_wrapper button:hover i {
    color: #bf0028; }
  .gform_wrapper button i {
    width: 66px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    text-align: center;
    transition: 0.3s all ease-in-out; }

.pagetop {
  background: #f2f2f2;
  padding: 70px 0 70px;
  min-height: 170px; }
  .pagetop h1 {
    font-size: 40px;
    color: #1a171b;
    font-weight: bold; }

.subnav {
  background: #e6e6e6; }
  .subnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block; }
  .subnav ul li {
    display: inline-block; }
    .subnav ul li.current-post-item a {
      background: #fff;
      color: #bf0028; }
    .subnav ul li.current-post-item ul li a {
      color: #1a171b;
      background: #e6e6e6; }
      .subnav ul li.current-post-item ul li a:hover {
        text-decoration: none;
        background: #fff; }
    .subnav ul li a {
      background: #e6e6e6;
      padding: 20px;
      color: #1a171b;
      display: inline-block; }
    .subnav ul li a:hover {
      text-decoration: none;
      background: #fff; }

.maincontent {
  padding: 70px 0 20px; }
  .maincontent.page-news {
    padding-top: 30px; }
  .maincontent.greybg {
    background: #f2f2f2; }
  .maincontent .page-description {
    display: none; }
  .maincontent .contactinfo {
    padding: 0 0 30px 0; }
  .maincontent .contactinfo h2 {
    font-weight: bold;
    font-size: 20px;
    color: #1a171b;
    margin-bottom: 20px; }
  .maincontent .contactinfo a:hover {
    color: #bf0028;
    text-decoration: none; }
  .maincontent .contactinfo .wicon {
    padding: 0 0 0 30px;
    position: relative; }
    .maincontent .contactinfo .wicon a {
      display: block;
      color: #1a171b; }
    .maincontent .contactinfo .wicon a:hover {
      color: #bf0028; }
    .maincontent .contactinfo .wicon:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f095";
      color: #bf0028;
      position: absolute;
      top: 3px;
      left: 0; }
    .maincontent .contactinfo .wicon.phone {
      font-weight: bold; }
    .maincontent .contactinfo .wicon.email {
      font-weight: bold; }
    .maincontent .contactinfo .wicon.email:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f0e0"; }
    .maincontent .contactinfo .wicon.address {
      font-weight: normal;
      color: #605e61;
      font-size: 16px; }
    .maincontent .contactinfo .wicon.address:before {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f041"; }
    .maincontent .contactinfo .wicon.address a {
      display: block;
      color: #bf0028; }
    .maincontent .contactinfo .wicon.address a:hover {
      color: #1a171b; }
  .maincontent .kvkdata {
    padding: 20px 0 0; }
  @media screen and (max-width: 64em) {
    .maincontent .kvkdata {
      padding-bottom: 30px; } }
  .maincontent .kvkdata .element {
    font-size: 16px;
    padding: 0 0 5px; }
    .maincontent .kvkdata .element label {
      font-weight: bold;
      text-decoration: uppercase;
      width: 75px;
      display: inline-block; }
  .maincontent .cart_section {
    text-align: center;
    padding: 20px 0 50px; }
  .maincontent .cart_section .gform_wrapper.nobg_wrapper {
    background: none;
    padding: 60px 130px 0;
    margin-top: 20px;
    box-shadow: none;
    border-top: 2px solid #e6e6e6; }
    @media screen and (max-width: 64em) {
      .maincontent .cart_section .gform_wrapper.nobg_wrapper {
        padding: 60px 0; } }
    .maincontent .cart_section .gform_wrapper.nobg_wrapper:after {
      display: none; }
    .maincontent .cart_section .gform_wrapper.nobg_wrapper .gform_footer {
      margin-top: 30px; }
  .maincontent.woocommerce {
    padding-bottom: 0px; }
  .maincontent.woocommerce .products .product {
    width: 33.3333%;
    margin: 0 0% 2.992em 0; }
    @media screen and (max-width: 64em) {
      .maincontent.woocommerce .products .product {
        width: 50%;
        margin: 0 0% 2.992em 0;
        clear: none; } }
  .relatedproducts {
    padding: 70px 0 30px; }
  .relatedproducts .related {
    border-bottom: 2px solid #e6e6e6; }
  .relatedproducts .related > h2 {
    display: none; }
  .relatedproducts .backbtn {
    position: absolute;
    left: 20px; }
  @media screen and (max-width: 64em) {
    .relatedproducts .backbtn {
      position: static;
      width: 100%;
      text-align: center;
      padding: 0 0 10px 0; }
      .relatedproducts .backbtn .readmore {
        display: inline-block; } }

.pageslider {
  padding: 40px 20px;
  margin: 40px 0;
  background: #f2f2f2;
  width: 100%;
  position: relative; }
  .pageslider:after {
    clear: both;
    display: table;
    content: ""; }
  .pageslider .slick-dots {
    bottom: 15px; }
  .pageslider .slick-dots li.slick-active button:after {
    background: #bf0028; }
    .pageslider .slick-dots li button:after {
      background: #1a171b; }

.slick-arrow {
  width: 40px;
  height: 40px;
  line-height: 36px;
  text-align: center;
  background: #bf0028;
  color: #fff;
  position: absolute;
  top: calc(50% - 18px);
  border-radius: 0;
  z-index: 500;
  cursor: pointer;
  border: 2px solid #bf0028; }
  .slick-arrow:hover {
    background: #fff;
    color: #bf0028; }
  .slick-arrow.slick-prev {
    left: 0; }
  .slick-arrow.slick-next {
    right: 0; }

.crumbs {
  padding: 30px 0;
  font-weight: bold;
  font-size: 16px;
  color: #1a171b; }
  .crumbs.pre-footer {
    padding-bottom: 60px; }
  .crumbs a {
    color: #1a171b; }
  .crumbs a:hover {
    color: #bf0028;
    text-decoration: none; }
  .crumbs .sep {
    margin: 0 15px;
    font-size: 0;
    display: inline-block;
    width: 20px; }
  .crumbs .sep:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f061";
    color: #bf0028;
    font-size: 16px; }

.search-list .search-item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px dashed #f2f2f2; }
  .search-list .search-item h2 a {
    text-decoration: none; }
  .search-list .search-item p {
    font-weight: normal; }

.news {
  padding: 70px 0 20px; }
  .news .sectiontitle {
    margin-bottom: 40px; }
  .news .faceted-search-footer {
    padding-bottom: 50px;
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 20px; }
  .news .news-item {
    margin-bottom: 30px;
    display: block;
    color: #333; }
  .news .news-item:hover {
    text-decoration: none;
    color: inherit; }
    .news .news-item:hover .entry-content:after {
      opacity: 1; }
    .news .news-item:hover .entry-content h3 {
      color: #bf0028; }
  .news .news-item .entry-header {
    position: relative;
    border-radius: 4px 4px 0 0;
    overflow: hidden; }
    .news .news-item .entry-header img {
      position: relative;
      z-index: 10; }
    .news .news-item .entry-header .terms {
      position: absolute;
      left: 30px;
      top: 30px;
      z-index: 20;
      padding: 5px 10px;
      color: #fff;
      background: #bf0028;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      border-radius: 4px; }
    .news .news-item .entry-header .entry-meta {
      position: absolute;
      bottom: 0;
      left: 30px;
      z-index: 20;
      border: 2px solid #fff;
      border-bottom: none;
      padding: 15px 13px 10px;
      text-transform: uppercase;
      border-radius: 4px 4px 0 0;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      background: rgba(0, 0, 0, 0.6); }
    .news .news-item .entry-header .entry-meta span {
      display: block;
      color: #fff; }
    .news .news-item .entry-header .entry-meta .day {
      font-size: 32px; }
  .news .news-item .entry-content {
    padding: 30px;
    border: 2px solid #e6e6e6;
    border-top: none;
    font-size: 16px;
    position: relative;
    border-radius: 0 0 4px 4px;
    min-height: 260px; }
    .news .news-item .entry-content:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f061";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45px;
      height: 45px;
      border-top: 2px solid #e6e6e6;
      border-left: 2px solid #e6e6e6;
      line-height: 45px;
      text-align: center;
      color: #bf0028;
      opacity: 0;
      transition: 0.3s all ease-in-out; }
    .news .news-item .entry-content h3 {
      font-weight: bold;
      margin-bottom: 20px;
      color: #1a171b;
      transition: 0.3s all ease-in-out; }

.share {
  padding: 20px 30px;
  background: #bf0028;
  position: fixed;
  top: 250px;
  right: 0;
  color: #fff;
  text-align: center;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  z-index: 700; }
  @media screen and (max-width: 64em) {
  .share {
    position: static;
    box-shadow: none; } }
  .share h4 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px; }
  .share ul {
    list-style: none;
    margin: 0;
    text-align: center;
    display: block; }
  .share ul li {
    display: inline-block;
    padding: 0 5px; }
    .share ul li a {
      width: 40px;
      height: 40px;
      color: #fff;
      border: 2px solid #fff;
      border-radius: 4px;
      display: block;
      font-size: 18px;
      line-height: 40px; }
    .share ul li a:hover {
      color: #bf0028;
      background: #fff; }

.faceted-paginate, .wp-paginate {
  list-style: none;
  text-align: center;
  margin: 20px 0 0; }
  .faceted-paginate li, .wp-paginate li {
    display: inline-block;
    margin: 0; }
  .faceted-paginate li .gap, .wp-paginate li .gap {
    width: 45px;
    height: 45px;
    background: #fff;
    line-height: 45px;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: #bf0028;
    font-weight: bold;
    padding: 0;
    box-sizing: border-box; }
  .faceted-paginate li.page.current span, .wp-paginate li.page.current span, .faceted-paginate li.page:hover span, .wp-paginate li.page:hover span, .faceted-paginate li.page.current a, .wp-paginate li.page.current a, .faceted-paginate li.page:hover a, .wp-paginate li.page:hover a {
    color: #bf0028;
    text-decoration: none;
    padding: 0; }
    .faceted-paginate li.page span, .wp-paginate li.page span, .faceted-paginate li.page a, .wp-paginate li.page a {
      margin-left: -2px;
      width: 45px;
      height: 45px;
      background: #fff;
      border: 2px solid #e6e6e6;
      line-height: 44px;
      border-radius: 4px;
      text-align: center;
      display: block;
      color: #1a171b;
      transition: 0.3s all ease-in-out;
      font-weight: bold;
      padding: 0;
      box-sizing: border-box; }
  .faceted-paginate li .next, .wp-paginate li .next, .faceted-paginate li .prev, .wp-paginate li .prev {
    background: none;
    border: none;
    color: #e6e6e6;
    text-transform: uppercase;
    width: auto;
    padding: 0;
    width: 45px;
    height: 45px;
    line-height: 41px;
    text-align: center;
    display: block; }
    .faceted-paginate li .next:hover, .wp-paginate li .next:hover, .faceted-paginate li .prev:hover, .wp-paginate li .prev:hover {
      background: none;
      border: none;
      box-shadow: none;
      color: #333; }
    .faceted-paginate li .next span, .wp-paginate li .next span, .faceted-paginate li .prev span, .wp-paginate li .prev span {
      background: none;
      border: none;
      color: #bf0028;
      text-transform: uppercase;
      width: auto;
      display: inline-block; }
    .faceted-paginate li .next i, .wp-paginate li .next i, .faceted-paginate li .prev i, .wp-paginate li .prev i {
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      text-align: center; }
  .faceted-paginate li .next:hover, .wp-paginate li .next:hover {
    padding-left: 5px; }
  .faceted-paginate li .prev:hover, .wp-paginate li .prev:hover {
    padding-right: 5px; }

#glmap {
  position: relative; }
  #glmap .infoblock {
    background: #ffd400;
    color: #fff;
    padding: 40px;
    text-align: left;
    position: absolute;
    left: 10%;
    bottom: 50px;
    width: 380px;
    z-index: 5; }
  @media only screen and (max-width: 40em) {
    #glmap .infoblock {
      width: 80%; } }
  #glmap .infoblock h3 {
    margin: 0; }
  #glmap .infoblock p {
    padding: 0;
    text-align: left; }
  #glmap #map-canvas {
    width: 100%;
    height: 440px; }
  @media only screen and (max-width: 40em) {
    #glmap #map-canvas {
      height: 600px; } }
