<?php $counter = (isset($this->counter) && is_numeric($this->counter)) ? (int) $this->counter : 0 ?>
<?php if (isset($this->attachment_id)): ?>
	<?php
		$thumb = wp_get_attachment_image_src($this->attachment_id, 'gallery-thumb');
		$fancy = wp_get_attachment_image_src($this->attachment_id, 'gallery-large');
		$title = get_the_title($this->attachment_id);
	?>
	<div class="grid_2">
	    <a class="slide fancybox" href="<?php echo $fancy[0] ?>" data-fancybox="gallery" rel="gallery">
	    	<div class="inner">
				<img src="<?php echo $thumb[0] ?>">
				<div class="overlay"></div>
				
			</div>
	    </a>
	</div>
<?php endif; ?>
