<?php if (isset($this->post, $this->name) && is_object($this->post) && is_string($this->name)): ?>
<li class="list-item post-item">
    <dl class="post-item-bar">
        <dt class="post-item-handle">
            <span class="post-item-title"><?php echo apply_filters('the_title', $this->post->post_title) ?></span>
            <span class="item-controls">
                <a class="item-delete" href="#"><span><?php _e('Verwijderen') ?></span></a>
            </span>
            <span class="hidden">
                <input class="post-id" type="hidden" name="<?php echo $this->name ?>[]" value="<?php echo $this->post->ID ?>">
            </span>
        </dt>
    </dl>
</li>
<?php endif ?>
