<?php if(is_array($this->attributes)): ?>
	<ul class="attributes">
		<?php foreach($this->attributes as $key => $attribute): ?>
		<li>
			<label><?php echo $attribute['name']; ?></label>
			<span class="value"><?php echo implode(', ',$attribute['terms']); ?></span>
		</li>
		<?php endforeach; ?>
	</ul>
<?php endif; ?>