<?php 
	$product 	= $this->product; 
	$buttontxt 	= esc_html( $product->single_add_to_cart_text() );
	$label 		= get_post_meta(get_the_ID(), '_product_preordertext',true);
	$labelclass = 'preorder';
	$classes 	= 'single_add_to_cart_button button alt';

	if($this->isPreOrder()){
    	$buttontxt 	= esc_html( 'Pre-order dit boek' );
    }

	if ( !$product->is_in_stock() ) {
        $label = "Uitverkocht";
        $labelclass = 'reprint';
        $buttontxt 	= esc_html( 'Houd me op de hoogte' );
        $classes 	= 'button alt toggle scrollto';
    } 

    
?>

<?php if($this->label && ($label != '')): ?>
	<div class="prodlabel <?php echo $labelclass; ?>"><?php echo $label; ?></div>
<?php endif; ?>
<button type="submit" data-target="#reprintform" name="add-to-cart" value="<?php echo esc_attr( $product->get_id() ); ?>" class="<?php echo $classes; ?>">
	<?php echo $buttontxt; ?>
</button>
