<?php $post_id = get_option('woocommerce_shop_page_id'); ?>

<section class="pagetop">
	<div class="row">
		<div class="small-12 column center">
			<h3 class="subtitle red"><?php echo get_the_title($post_id) ?></h3>
			<h1><?php echo get_post_meta($post_id,'_text_toptitle',true); ?></h1>
		</div>
	</div>
</section>

<section class="maincontent woocommerce page-<?php echo get_post_type() ?>">
	<div class="row">
		<div class="small-12 medium-3 column">
			<div class="woocommerce_widgets">
				<?php dynamic_sidebar(6); ?>
			</div>
		</div>
		<div class="small-12 medium-9 column">
			<?php woocommerce_content(); ?>
		</div>
	</div>
</section>

<section class="usps">
	<div class="row">
		<div class="small-12 column">
			<div class="row">
				<div class="uspinner content-usps">
					<?php dynamic_sidebar(7); ?>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="maincontent greybg">
	<div class="row align-center">
		<div class="small-12 medium-8 column">
			<?php echo $this->partial('partials/woocommerce/singular.phtml',array('post'=> get_post($post_id))) ?>
		</div>
	</div>
</section>