<div class="singular-content" itemprop="articleBody">
	<?php 
		
		$content_post = get_post($this->post);
		$content = $content_post->post_content;
		$firstletter = strip_tags($content);
		$content = apply_filters('the_content', $content);
		$content = str_replace(']]>', ']]&gt;', $content);
	?>
	<?php if($content): ?>
		<span class="firstletter"><?php echo $firstletter[0]; ?></span>
	<?php endif; ?>
    <div class="inner"><?php echo $content; ?></div>
</div>
