<?php $post_id = get_option('woocommerce_shop_page_id'); ?>

<section class="pagetop">
	<div class="row">
		<div class="small-12 column center">
			<h3 class="subtitle red"><?php echo get_the_title($post_id) ?></h3>
			<h1><?php the_title(); ?></h1>
		</div>
	</div>
</section>

<section class="maincontent woocommerce page-<?php echo get_post_type() ?>">
	<div class="row">
		<div class="medium-12 column">
			<?php woocommerce_content(); ?>
		</div>
	</div>
</section>

<section class="wc_gallery">
	<div class="row">
		<div class="small-12 column">
			<?php echo $this->wcGallery(); ?>
		</div>
	</div>
</section>

<section class="usps">
	<div class="row">
		<div class="small-12 column">
			<div class="row">
				<div class="content-usps">
					<?php dynamic_sidebar(7); ?>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="maincontent woocommerce greybg">
	<div class="row align-center">
		<div class="small-12 medium-8 column">
			<?php echo $this->partial('partials/page/singular.phtml') ?>
		</div>
	</div>
	<div class="row align-center">
		<div class="small-12 medium-8 column">

			<?php
				global $product;
				if ( ! $product->is_purchasable() ) {
					return;
				}
				if ( $product->is_in_stock() ): 
			?>
				<div class="cart_section">
					<form class="cart" method="post" enctype='multipart/form-data'>
						<div class="quantity">
							<input type="hidden" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric">
						</div>

						<?php 
							$view = new Webwijs\View();
							echo $view->partial('partials/woocommerce/cartbutton.phtml', array('product' => $product, 'label' => false)); 
						?>

					</form>
				</div>
			<?php else: ?>
				<div class="cart_section" id="reprintform">
					<div class="singular-content">
						<?php gravity_form(get_option('theme_form_reprint'), true, true, false, null, true); ?>
					</div>
					<?php 
						// $view = new Webwijs\View();
						// echo $view->partial('partials/woocommerce/cartbutton.phtml', array('product' => $product, 'label' => false)); 
					?>
				</div>
			<?php endif; ?>
		</div>
	</div>
</section>

<div class="share">
	<?php echo $this->shareThis(); ?>
</div>

<div class="relatedproducts">
	<div class="row">
        <div class="small-12 columns relative">
        	<div class="backbtn">
        		<a class="readmore back" href="<?php echo get_permalink(wc_get_page_id( 'shop' )); ?>"><?php echo __('Terug naar onze boeken') ?></a>
        	</div>
            <h2 class="sectiontitle noborder">Andere interessante boeken</h2>
        </div>
    </div>
	<div class="row">
		<div class="small-12 column">
			<?php echo do_shortcode( '[related_products per_page="4" columns="4"]' ); ?>
		</div>
	</div>
</div>