<?php if (isset($this->attachment_ids) && is_array($this->attachment_ids)): $attachmentIds = array_values($this->attachment_ids) ?>
	<?php if(count($attachmentIds) > 0): ?>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 column">
			<div class="row">
				<div class="pageslider">
					<?php foreach ($attachmentIds as $index => $attachmentId): ?>
						<?php 
							echo $this->partial('partials/page/gallery/list-item.phtml', array('attachment_id' => $attachmentId, 'title' => $this->title)); 
						?>
					<?php endforeach ?>
				</div>
			</div>
		</div>
	</div>
	<div class="row align-center">
		<div class="small-12 medium-8 column">
			<div class="singular-content std" itemprop="articleBody">
				<div class="inner">

	<?php endif ?>
<?php endif ?>

