.widget-content .image-container { margin: 0 0 10px; padding: 20px 0 0; text-align: center; }
.widget-content .image-container.loading { min-height: 80px; background: url(../../images/loader.gif) no-repeat center; }
.widget-content .image-container img { display: inline-block; margin: 0; padding: 2px; max-width: 100%; height: auto; border: 1px solid #e5e5e5; background-color: #fff;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.widget-content .icon-container { margin: 0 0 10px; padding: 20px 0 0; text-align: center; }

.widget-content .icon-container span.fa{
	color: #000;
	font-size: 30px;
	text-align: center;
	height: 30px;
	width: 30px;
	display: block;
	margin: 0 auto;
}
.widget-content .hidden-option{
  display: none;
}
