<?php
	$form = $this->form;
	$input = $this->input;
	$submit = $this->submit;
?>
<div class="search-form">
	<form action="<?php echo $form->action;?>" class="<?php echo $form->class;?>" method="<?php echo $form->method;?>" role="search-form">
		<input class="<?php echo $input->class;?>" type="<?php echo $input->type;?>" name="<?php echo $input->name;?>" value="<?php echo $input->value;?>" placeholder="Zoeken"/>
		<button type="submit" class="<?php echo $submit->class;?>"><i class="ion ion-search"></i> <span class="hide-on-desktop">Zoeken</span></button>
	</form>
</div>
