<article class="search-item list-item" itemscope itemtype="http://schema.org/Article">
    <div class="entry-header">
        <h2 class="entry-title" itemprop="name">
            <a href="<?php the_permalink() ?>" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>"><?php the_title() ?></a>
        </h2>
    </div>
    <div class="entry-content std" itemprop="description">
        <?php echo $this->excerpt() ?>
    </div>
    <div class="entry-footer std">
        <a href="<?php the_permalink() ?>" class="readmore" itemprop="url" title="<?php echo esc_attr(get_the_title()) ?>"><?php echo __( 'Lees verder') ?></a>
    </div>
</article>
