<header class="singular-header">
    <h1 class="singular-title"><?php echo __('Zoeken') ?></h1>
    <div class="std singular-content">
        <p><?php echo __('Gebruik de zoekmachine rechtsboven om een zoekopdracht uit te voeren.' ); ?></p>
    </div>
</header>
