<div class="singular-header">
    <h1 class="singular-title"><?php printf(__('Zoekresultaten voor \'%s\''), wordwrap($this->query, 18, ' ', true)); ?></h1>
</div>

<?php echo $this->partial('partials/search/list.phtml') ?>
<?php echo $this->paginate(array('before' => '<nav class="pagination">', 'after' => '</nav>', 'range' => 1)) ?>
