.btn{
	display: inline-block;
	padding: 10px 20px;
	font-weight: bold;
	background: none;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}

	&.arrow{
		&:after{
			@include font-awesome("\f061");
			color: $clr-main;
			margin-left: 10px;
			transition: $trns-default;
		}
	}

	&.redborder{
		border: 2px solid $clr-main;
		color: $clr-white;
		border-radius: 4px;
		&:hover{
			color: $clr-white;
			background: $clr-main;
			&:after{
				color: $clr-white;
			}
		}
	}

	&.darktext{
		color: $clr-dark;
	}
}
