header{
	padding-top: 80px;
	position: relative;
	// margin-bottom: 30px;
	.navbar{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		z-index: 800;
		height: 80px;
	}
	.nav{
		padding: 10px 0 0;
		background: $clr-dark;
		min-height: 80px;
		position: relative;
		z-index: 800;
		position: fixed;
		top: 0px;
		width: 100%;
	}

	#main-menu{
		list-style: none;
		padding: 0;
		margin: 0;
		float: right;

		.menu-item-home{
			a{
				font-size: 0;
				&:after{
					@include font-awesome("\f015");
					font-size: 16px;
				}
			}
		}

		@media screen and (max-width: 64em){
			max-height: 0px;
			transition: $trns-default;
			overflow: hidden;
			width: 100%;
			&.active{
				max-height: 2000px;
				width: 100%;
			}
		}
		li{
			display: inline-block;
			@media screen and (max-width: 64em){
				display: block;
				border-bottom: 1px solid lighten($clr-dark, 5%);
			}
			&.menu-item-has-children{
				position: relative;
				&:hover{
					ul{
						top: 67px;
						max-height: 1000px;
					}
				}
				a{
					@media screen and (max-width: 64em){
						padding-bottom: 10px;
					}
					&:after{
						@include font-awesome("\f107");
						margin-left: 5px;
						transition: $trns-default;
					}
				}
				ul{
					position: absolute;
					top: 0px;
					left: -15px;
					padding-bottom: 10px;
					// border: 2px solid $clr-dark;
					min-width: 100%;
					z-index: 10;
					transition: $trns-default;
					max-height: 0;
					overflow: hidden;
					background: url(../svg/logoback.svg) no-repeat center bottom / 100%;
					@media screen and (max-width: 64em){
						position: static;
						max-height: 1000px;
						background: none;
						margin: 0;
					}
					li{
						display: block;
						padding-left: 20px;
						@media screen and (max-width: 64em){
							border-bottom: none;
						}
						a{
							white-space: nowrap;
							padding: 5px 20px;
							color: $clr-white;
							// background: $clr-white;
							background: none;
							&:hover{
								color: $clr-white;
								&:after{
									color: $clr-white;
								}
							}

							&:after{
								@include font-awesome("\f105");
								color: $clr-main;
							}
						}
					}
				}
			}
			&.current-menu-item,
			&.current-post-ancestor,
			&.current-page-ancestor,
			&.current_page_parent,
			&.current_post_parent{
				a{
					text-decoration: none;
					color: $clr-main;
				}
			}
			a{
				display: block;
				padding: 17px 20px 27px;
				color: $clr-white;
				position: relative;
				z-index: 20;
				background: $clr-dark;
				text-transform: lowercase;
				@media screen and (max-width: 64em){
					padding: 20px 20px;
				}
				&:hover{
					text-decoration: none;
					color: $clr-main;
				}
			}
		}

	}

	.btn{
		
		&.cartbtn{
			// background: url(../svg/logoback.svg) no-repeat center center / 100% 100%;
			width: 50px;
			height: 60px;
			float: right;
			position: relative;
			margin-left: 10px;
			display: block;

			&:hover{
				.cartback{
					path{
						fill: $clr-white !important;
					}
				}
				.icon{
					path{
						fill: $clr-main !important;
					}
				}
			}

			.cartback{
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
				width: 50px;
				height: 60px;
			}

			.icon{
				position: absolute;
				top: 18px; bottom: 0;
				left: 0; right: 5px;
				// line-height: 60px;
				text-align: center;
				svg{
					width: 25px;
				}
			}
			.num{
				position: absolute;
				right: -10px;
				top: calc(50% - 10px);
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				color: $clr-main;
				font-weight: bold;
				font-size: 12px;
				background: $clr-white;
				border-radius: 50%;
			}
		}

		&.searchbtn{
			display: block;
			padding: 17px 20px;
			color: $clr-white;
			float: right;
			width: 55px;
			text-align: center;

			&:after{
				@include font-awesome("\f002");
				transition: $trns-default;
			}
			&:hover{
				&:after{
					color: $clr-main;
				}
			}
			&.activated{
				&:after{
					@include font-awesome("\f00d");
					
				}
			}
		}

		&.menubtn{
			display: block;
			padding: 17px 20px;
			color: $clr-white;
			float: right;
			&:after{
				@include font-awesome("\f0c9");
				transition: $trns-default;
			}
			&:hover{
				&:after{
					color: $clr-main;
				}
			}
		}
	}
		
	.logo{
		position: absolute;
		left: .9375rem;
		top: 15px;
		max-width: 220px;
		display: block;
		transition: $trns-default;
		@media screen and (max-width: 64em){
			top: 5px;
			max-width: 100px;
			overflow: hidden;
			svg{
				max-width: 400px !important;
				path:not(.icon):not(.icon-inner){
					opacity: 0;
				}
			}	
		}
		&:hover{
			// top: 5px;
			// svg{
			// 	max-width: 400px;
			// 	path:not(.icon):not(.icon-inner){
			// 		opacity: 0;
			// 	}
			// }				
		}
		svg{
			max-width: 220px;
			// max-width: 100%;
			height: auto;
			transition: $trns-default;
			path{
				transition: $trns-default;
				opacity: 1;
				// fill: $clr-dark;
			}

		}
	}

	.search{
		// background: $clr-grey-dk;
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 700;
		transition: $trns-default;
		&.active{
			bottom: -100%;
		}
		.search-form{
			padding: 20px 0;
			width: 350px;
			float: right;
			position: relative;
			.search-input-container{
				width: 100%;
				display: inline-block;
				padding-right: 50px;
			}
			input{
				padding: 0 15px;
				width: 100%;
				border: none;
				border-radius: 4px 0 0 4px;
				line-height: 50px;
				height: 50px;
				border: 1px solid $clr-grey;
				border-right: none;
			}
			button{
				position: absolute;
				right: 0;
				top: 20px;
				display: block;
				height: 50px;
				width: 50px;
				background: $clr-white;
				line-height: 50px;
				padding: 0;
				color: $clr-main;
				cursor: pointer;
				border-radius: 0 4px 4px 0;
				border: 1px solid $clr-grey;
				border-left: none;
				&:hover{
					background: $clr-white;
					color: $clr-main;
				}
				&:after{
					@include font-awesome('\f002');
					color: $clr-main;
					height: 50px;
					width: 50px;
					line-height: 50px;
					text-align: center;
				}
				span{
					display: none;
				}
			}
		}
			
	}

	// slider
	.content-header{
		.slide-content{
			min-height: 675px;
			position: relative;
			@media screen and (max-width: 40em){
				height: 725px;
			}
			&:before{
				content: "";
				position: absolute;
				top: 0; bottom: 0;
				left: 0; right: 0;
				z-index: 10;
				@include black-gradient(0.8);
			}

			.flex-caption{
				padding: 200px 0;
				color: $clr-white;
				position: relative;
				z-index: 20;
				@media screen and (max-width: 40em){
					padding: 50px 0;
				}
				h4{
					font-size: 19px;
					color: $clr-main;
					margin-bottom: 5px;
					font-weight: bold;
				}
				h3{
					font-weight: bold;
					color: $clr-white;
					font-size: 40px;
					margin-bottom: 20px;
					line-height: 40px;
				}
				p{
					margin-bottom: 20px;
				}
			}

			.image{
				// margin-top: 160px;
				text-align: center;
				vertical-align: middle;
				position: relative;
				z-index: 20;
				@media screen and (max-width: 40em){
					margin-top: 50px;
				}
				img{
					display: inline-block;
				}
			}
		}

		
	}
}

.slick-dots{
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 40px;
	left: 0px;
	width: 100%;
	text-align: center;

	li{
		display: inline-block;
		margin: 0 5px;
		&.slick-active{
			button{
				&:after{
					background: $clr-main;
				}
			}
		}
		button{
			font-size: 0;
			width: 20px;
			height: 20px;
			display: block;
			border: none;
			cursor: pointer;
			&:hover{
				&:after{
					margin-top: 4px;
				}
			}
			&:focus{
				border: none;
			}
			&:after{
				content: "";
				width: 20px;
				height: 4px;
				background: $clr-white;
				border-radius: 3px;
				margin-top: 8px;
				display: block;
				transition: $trns-default;
			}
		}
	}
}